[2018-01-19 16:54] iagomez opened #1 "ETA on this?"
Hello SAS devs,

I was browsing the sassoftware group and came across this repo. The description sounds great and I was just wondering if you had an ETA for adding content to it? (Github is telling me the repo is empty)

Thanks!
Ivan

[2018-04-04 21:49] kesmit13 commented on #1
April 4, 2018.  :)

[2018-04-04 21:49] #1 closed

[2018-05-13 22:59] sasxianhu opened #5 "Show the result of heat_map_analysis method with a specified image."
So we can  check the heat map of the image that was scored as “Miss Classification” for understanding that reasoning.

[2018-05-13 23:01] sasxianhu commented on #5
Two options might be needed:
1) support type=
2) support a key for a given image
Also, when displaying the prediction result, better show the keys as well.

[2018-05-16 09:35] jackhu3301 opened #6 "Loading model from sashdat meets error."
model3 = Model.from_sashdat(conn = s, path='/home/sas/DEMO/driver_image/data_scripts/vgg/VGG16_model.sashdat')

It tells me that :

ERROR: The caslib Caslib_qErNjR is a duplicate, parent or subpath of caslib Caslib_Eutm6c.
ERROR: Could not add caslib 'Caslib_qErNjR'. Make sure that the caslib does not already exist and that you have permissions to add caslibs to Cloud Analytic Services.
ERROR: The

[2018-05-16 10:11] bensloane commented on #6
I will try and reproduce. Can you provide this file so I can test.

[2018-05-16 11:46] sasxianhu commented on #6
This usually means your path /home/sas/DEMO/driver_image/data_scripts/vgg is already used in a caslib.

You can copy you sashdat to a new directory and give it a try.

Best,
XQ

On May 16, 2018, at 6:11 AM, Ben Sloane <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I will try and reproduce. Can you provide this file so I can test.

—
You are receiving this because you

[2018-05-16 12:05] bensloane commented on #6
You can see your current caslib for connection by running the .caslibinfo() action. Most likely you have this path as a caslib already as stated above. I would try moving the file to a seperate directory and running the method again. See attachment for example.
[from_sashdat (1).zip](https://github.com/sassoftware/python-dlpy/files/2009000/from_sashdat.1.zip)

[2018-06-09 17:52] #5 closed

[2018-06-09 17:53] #6 closed

[2018-07-27 18:20] grandBleu opened #14 "Error from Example 3 - Keras Model Conversion.ipynb"
ImportError: cannot import name 'preprocess_weights_for_loading'

Keras 2.2.0
sas-dlpy 0.6.3

Anaconda was used at the time of the error.

[2018-07-27 18:57] adstev commented on #14
Yes, it seems this module is not in keras 2.2.

Can you install Keras 2.1.6? In your conda environment run the command:

conda install -c conda-forge keras

[2018-08-20 12:27] eusdougc commented on #14
For anyone else that runs into this problem: Keras appears to have re-arranged/re-factored code between release 2.0.x and 2.2.  A work-around is to replace this line

from keras.engine.topology import preprocess_weights_for_loading

with

from keras.engine.saving import preprocess_weights_for_loading

in write_keras_model_parm.py.  The next release of DLPy will incorporate this fix so manual editi

[2018-10-26 16:30] sasxianhu opened #16 "support cyclic LR and FCMP LR"

[2018-10-29 17:12] ethem-kinginthenorth opened #17 "some of the figures are not displayed properly in the examples"
some of the figures are not displayed properly in the examples

[2018-10-30 00:07] yg2288 opened #18 "ONNX support in DLPy"

[2018-10-30 20:19] sharminpathan opened #20 "wrong model weights saved"
Hi,
i tried doing k-fold cross validation while training to fine tune the weights. on the 1st fold i got an error of 17% and at the last fold i got the error down to 4%. when i save the model weights and try to load them, i notice that i get an error rate associated with the first fold (17%). is there something am doing wrong?

Here's the code:
for i in range(18):

        print("Training pass "+s

[2018-10-30 20:50] ethem-kinginthenorth commented on #20
I am assuming this is the error in the training set. Are you saving the folds or creating them on-the-fly?

[2018-10-30 21:28] sharminpathan commented on #20
i evaluated the model in the same session on a separate held out test set, the error is 4%.
then i save the model weights, load them in a different session and evaluate it against the same test set, now the error is 17%

[2018-10-31 13:10] ethem-kinginthenorth commented on #20
Ok, I am looking into the issue.

[2018-10-31 19:12] mauvesteven opened #21 "get_feature_maps needs a better error message when data subset is empty"
When using example1 things work great till I get to:

Model1: View Feature Maps
Feature maps display the output activations for a given filter. The following code uses the test data from the Model1 example to generate and display feature map data. First, create the feature map data. This example uses the test data and filters for images labeled Dolphin. The idx=0 setting indicates that the row 0 i

[2018-11-01 12:37] ethem-kinginthenorth commented on #20
the issue was using different test tables. so this is not a bug.

[2018-11-01 12:37] #20 closed

[2018-11-02 01:38] sasxianhu opened #22 "support tensorboard"
with some callbacks, we could use tensorboard to visualize our DL models and training history.

[2018-11-02 18:10] wenyushi commented on #16
Working on it and also realized find learning rate.

[2018-11-02 19:20] sasxianhu commented on #16
Note this is for the next Viya release.
XQ

[2018-11-05 19:38] aviolante opened #23 "add superhero notebook to examples"

[2018-11-05 20:36] aviolante commented on #23
[https://github.com/sassoftware/python-dlpy/pull/24](url)

[2018-11-05 21:20] ethem-kinginthenorth commented on #23
Thanks.
Since I merged the notebook, would you please close the issue?

[2018-11-05 21:21] aviolante commented on #23
Thanks @ethem-kinginthenorth

[2018-11-05 21:21] #23 closed

[2018-11-06 14:24] sasxianhu opened #25 "APIs for dataSpecs"
APIs to link data with model with dataSpecs.

[2018-11-07 20:44] ethem-kinginthenorth commented on #18
I merged the code for this issue. @yg2288 could you please close this issue.

[2018-11-07 20:45] #18 closed

[2018-11-08 00:21] bensloane commented on #22
I can work on this

[2018-11-08 15:33] sasxianhu opened #26 "Add examples about Keypoints"

[2018-11-08 15:34] sasxianhu opened #27 "Add FaceDetection APIs"

[2018-11-08 15:40] wenyushi opened #28 "Extract more type of layer configuration from model table"
Right now, reshape and scale layer cannot be extracted.

[2018-11-08 16:12] yg2288 opened #29 "Import models from ONNX"

[2018-11-11 21:21] sasxianhu opened #30 "Support the FCMP layer"

[2018-11-12 12:41] sasxianhu opened #31 "No doc on model.evaluate"

[2018-11-12 12:42] sasxianhu opened #32 "No examples about how to use Optimizer"

[2018-11-12 14:21] #31 closed

[2018-11-12 16:13] #17 closed

[2018-11-12 19:32] #32 closed

[2018-11-13 13:21] sasxianhu opened #34 "More APIs to explain network models"

[2018-11-13 19:31] aviolante commented on #26
@sasxianhu @ethem-kinginthenorth I should be starting a project around this hopefully next week!

[2018-11-13 19:33] ethem-kinginthenorth commented on #26
@aviolante that sounds great

[2018-11-14 14:01] biruk23eth opened #36 "Add examples for entity embedding"
entity embedding is one of the effective methods to featurize high cardinality variables. This is especially important in the AutoML space. It will be very useful to have an example using dlpy (scores of them using e.g. tensorflow are available online).

[2018-11-14 14:03] ethem-kinginthenorth commented on #36
@biruk23eth would you care to contribute?

[2018-11-14 14:05] biruk23eth commented on #36
I will (down the line - loaded now). But  in case somebody wants to do it sooner, it will be great.

[2018-11-14 14:06] ethem-kinginthenorth commented on #36
I am assigning this to you, thanks.

[2018-11-14 14:11] sasxianhu commented on #36
We do not support trainable embedding yet until Viya 3.5

[2018-11-14 16:03] wenyushi opened #37 "support global pooling layer"

[2018-11-14 20:37] yg2288 commented on #29
Merged.  Closing this issue, thanks.

[2018-11-14 20:37] #29 closed

[2018-11-14 20:38] yg2288 commented on #21
@mauvesteven @ethem-kinginthenorth can this issue be closed?

[2018-11-14 20:39] ethem-kinginthenorth commented on #21
@yg2288 let us close this one as you already added a better warning message

[2018-11-14 21:02] #21 closed

[2018-11-15 16:54] yg2288 opened #38 "Custom dataset loaders"
It would be convenient to have dataset loaders like keras.datasets, torchvision.datasets, etc

[2018-11-15 17:55] ethem-kinginthenorth commented on #38
We will support this from the server side first. It is in the road map.

[2018-11-15 18:42] bensloane opened #39 "source data for examples"
Can we host source data (sample images, astore, weights, etc) for the examples. Similar to what was done [here](https://support.sas.com/documentation/prod-p/vdmml/zip/index.html ).

[2018-11-15 18:45] ethem-kinginthenorth commented on #39
we already have some data under test/datasources for unittests to run.
for the pre-trained weights will be on that link.
we prefer to provide links for the large datasets rather than hosting them.
is there anything particular, you want to see?

[2018-11-15 18:48] bensloane commented on #39
Mostly just the pretrained weights (ex 'train_less100_yolo_416.sashdat') which would make sense on the linked page above.

[2018-11-15 18:50] ethem-kinginthenorth commented on #39
we are training a yolo v2 model and whenever it is ready, we will be adding it to that link.

[2018-11-15 18:51] bensloane commented on #39
Great! thanks Ethem will close out.

[2018-11-15 18:51] #39 closed

[2018-11-15 20:00] rluppi opened #40 "Error from Example4-KerasModelConversion.ipynb"
In example 4, the command below fails:
model1 = Model.from_keras_model(conn=sess, keras_model=model0, output_model_table='converted_keras_model')

This is the error message:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-7-6bdf735abbe4> in <module>
----> 1 model1 = Model.from_ker

[2018-11-15 20:02] #40 closed

[2018-11-16 18:36] sasxianhu opened #41 "support Human Pose Estimation APIs"
https://arxiv.org/pdf/1811.05419v1.pdf

Keypoints should be able to do it.

[2018-11-23 13:51] sasxianhu opened #44 "document the supported Keras version"
keras version >= 2.1.3 and <= 2.1.6

[2018-11-23 14:43] TheodorGosden opened #45 "Model.from_keras_model throws error "Model layer name not found in Keras definition.""
I'm trying to import a Keras model via dlpy, but i'm getting an error I just can't seem to get past!

My error is when i'm trying to load in the weights. Here's my code:

#import packages and connect to server
import swat
import pandas as pd
from dlpy import Model, Sequential
from dlpy.model import *
sess = swat.CAS('rpcger01075.exnet.sas.com', 5570, username='sasdemo', password='Orion123')

#read

[2018-11-25 23:18] yg2288 commented on #45
The h5 file should be generated from `Model.from_keras_model` to be compatible for loading.  See this [example](https://github.com/sassoftware/python-dlpy/blob/master/examples/Example4-KerasModelConversion.ipynb), and specify `include_weights=True`

[2018-11-26 08:58] TheodorGosden commented on #45
So it's not possible to build, train and export a model soley in Keras and then import the models weights and layers into DLPy?

Is this something that's planned on being developed? Because I think a customer would be quite disappointed to find out, that all the compute power they spent on training a model can't be moved over and deployed in SAS. As far as I could tell in the h5 file from keras, a

[2018-11-26 11:45] sasxianhu commented on #45
Of course, it is supported. Alex suggested to check that example, which import the Keras model directly. load_weights_from_keras can only import the weights but you need define your model first. Model.from_keras_model imports both the keras model and its weights.

[2018-11-26 12:58] eusdougc commented on #45
To expand upon what @sasxianhu said, we do support importing a model you build in Keras.  However, you have to define that model in DLPy so that the layers/weights can be imported correctly.  Your model definition is this:

model1 = Sequential(sess, model_table = 'Simple_CNN')

That is basically a definition of an empty model object.  You need to include the layer definition(s).  Something like th

[2018-11-26 14:33] ethem-kinginthenorth commented on #45
For the documentation, you can also check the source code (line 236 in model.py). Functions in the source code has documentation - if we missed to add it into the doc html.

[2018-11-26 14:35] eusdougc commented on #45
@TheodorGosden - what picture are you referring to here: "As far as I can see the params don't match exactly (see pic), but I have no clue why they are off with +-512 and 10?"

[2018-11-26 14:42] TheodorGosden commented on #45
Sorry forgot to attach the picture! @eusdougc
![image](https://user-images.githubusercontent.com/19152803/49020943-de7bb000-f191-11e8-8e37-c1630876d7ac.png)

[2018-11-26 14:50] TheodorGosden commented on #45
@ethem-kinginthenorth Thank you! It's failing when importing weights via `Model.from_keras_model`
This is my code (focus on the last bit, just wanted to give you guys the full picture, if you want to replicate)

'''Trains a simple deep NN on the MNIST dataset.
Gets to 98.40% test accuracy after 20 epochs
(there is *a lot* of margin for parameter tuning).
2 seconds per epoch on a K520 GPU.
'''

fro

[2018-11-26 15:12] eusdougc commented on #45
@TheodorGosden: my brain must be working a little slowly after the long holiday weekend.  In my initial response I should have said that you need to include the **Keras** model definition and then call model1.from_keras_model().  My apologies.  That said, the code you just posted should work, although I see that you appear to be flattening the input:

x_train = x_train.reshape(60000, 784)
x_test =

[2018-11-26 19:21] neelan29 opened #46 "Issue with YOLOv2 model training"
I am trying to train a tiny yolov2 model on a very small dataset. I have defined the model DAG and did the training as well using pre-trained weights from Darknet model. However, I face issues when I try to score the model. I am scoring the model on training set but face an error which I am unable to resolve.

This is the issue:
![image](https://user-images.githubusercontent.com/23342589/49036721-

[2018-11-26 19:35] neelan29 commented on #46
I trained the model on "trainset" and thats where I do the predictions as well. The training runs successfully however, it doesnt process the same set of images for scoring. What could be the issue here? Could you suggest trying something?

[2018-11-26 19:38] ethem-kinginthenorth commented on #46
Scoring the training set does not guarantee that you would detect the objects.

[2018-11-27 13:02] TheodorGosden commented on #45
@eusdougc Now I've finally managed to to make it 4-D instead of 2-d (I find it weird that it can't accept images with 2-D?)

My code is pretty close to the same, the interesting thing is in the bottom. I don't know why, but when I first started using `input_weights_file` and  `load_weights_from_keras` it wanted to get the files from the CAS server dir, but now it uses the local os dir? I should ma

[2018-11-27 13:56] eusdougc commented on #45
@TheodorGosden - images often are manipulated in NHWC (or NCHW) format where

N = number of images
H = height of image (in pixels)
W = width of image (in pixels)
C = number of channels per image

You are working with MNIST data, which is gray-scale data, so

N = 60000 (for training) or 10000 (for test)
H = 28
W = 28
C = 1

Other image data sets have 3 channels per image (e.g. ImageNet).  In order

[2018-11-27 14:06] TheodorGosden commented on #45
Thanks for the explanation, I figured it was something along those lines :)

1. If i run the following `x_train.shap` I get `(60000, 28, 28)`. This is before I did the reshape, after i get (60000, 28, 28, 1).

2. I manually moved the files over via MobaXterm. Sorry, for not being clear.

3. I can verify it was the the same file written by `model.save('my_model_3.h5')`. Please find my_model_3.h5 at

[2018-11-27 14:30] eusdougc commented on #45
Thanks for the update.  The reshape shouldn't affect your data then, but I had to ask to be sure.  For question number 2, I don't know whether you caught that you were saving to file my_model_**3** but trying to read my_model_**2**?  Does it work if you read from my_model_**3**?

I will look at the contents of your HDF5 file and see if I can reconcile it with the Python error.

[2018-11-27 14:39] TheodorGosden commented on #45
Oh right, sorry. I had a whole arsenal of models in there, both my_model_2 and _3. It produces the same result.
![image](https://user-images.githubusercontent.com/19152803/49088894-95436300-f25a-11e8-81cd-5836533fcd4d.png)

The question is more why it all of a sudden switch from reading on the server, to reading locally. That's the part I don't get.

Okay, please write if you have any questions, I

[2018-11-27 15:31] eusdougc commented on #45
This is the documentation for from_keras_model(), it might answer your question regarding client/server reading:

        Generate a model object from a Keras model object

        Parameters
        ----------
        conn : CAS
            The CAS connection object.
        keras_model : keras_model object
            Specifies the keras model to be converted.
        output_model_table : string

[2018-11-27 15:35] eusdougc opened #48 "Documentation for certain APIs does not show up on DLPy page"
Documentation for from_keras_model(), from_caffe_model(), and from_onnx_mode() is not visible on the DLPy documentation page.

[2018-11-27 15:44] eusdougc opened #49 "Unable to import weights from HDF5 file"
The weights saved directly from Keras (e.g. model.save('my_weights.h5') cannot be imported by DLPy with

from_keras_model(s, model, output_model_table='Weights', include_weights=True, input_weights_file='my_weights.h5')

The error thrown indicates that an attribute cannot be found, although it is present.  The code is written assuming that the attribute is present at the highest level of the HDF5

[2018-11-27 18:10] ethem-kinginthenorth commented on #48
I am closing this one as there is another one already opened.

[2018-11-27 18:10] #48 closed

[2018-11-27 18:11] #46 closed

[2018-11-27 18:12] ethem-kinginthenorth commented on #44
I already have a warning inserted into the code that checks the keras version and complains if there is a problem.

[2018-11-27 18:12] #44 closed

[2018-11-27 21:07] svjoel opened #50 "Broken "Getting Started with DLPy" example in readme"
The below example in Readme doesn't work without "from dlpy.layers import *"

The input shape contains RGB images (3 channels)
The model images are 224 px in height and 224 px in width

model1.add(InputLayer(3,224,224))

NOTE: Input layer added.

[2018-11-27 21:52] ethem-kinginthenorth commented on #50
added.

[2018-11-27 21:52] #50 closed

[2018-11-28 19:15] yg2288 opened #51 "Support ONNX ImageScaler for image scale and offset"
Handle image scale and offset using this operator

[2018-11-28 20:35] RLstat opened #52 "the Design of the model_type attribute from Sequential and Model object"
Currently, the default model_type is 'CNN', and only when we add RNN layer (`layer.type=='Recurrent'` or `isinstance(layer, Bidirectional)`), then the model_type is modified to be 'RNN'.

One issue of this is that if we are just building a feed forward DNN net, then the model_type is still 'CNN' and can be problematic.

One potential fix might be adding conditions that when we add layer with `laye

[2018-11-28 20:40] ethem-kinginthenorth commented on #52
we might add an option to override the model type. we will change the sequantial part in the future and can add that attribute with it.

[2018-11-28 20:44] sasxianhu commented on #52
Please only use CNN and RNN. DNN is a subset of CNN. No need to use DNN at all.

[2018-11-28 20:54] RLstat commented on #52
So do we need example/use case for tabular data then? Like non-image based regression and classification problems. The following code will give error if I don't manually overwrite the model_type to something else (like 'DNN').
[code]

[2018-11-28 21:02] ethem-kinginthenorth commented on #52
a quick chat with @sasxianhu , and we will keep the model_type as is (set automatically). You can use .predict function if evaluate it erroring out for your case (evaluate is looking the target value, if not set then it looks the scored table (I__ to find the label)

[2018-11-28 21:17] RLstat commented on #52
Sure, predict works. I assume I could just use the model1.conn.crosstab() for now if I want to get the confusion matrix.

[2018-11-29 09:17] TheodorGosden commented on #45
Hi again @eusdougc

I've tried to run your code - but the weirdest thing happens. If I just do `include_weights=True` then it still stores my weights in a local file?

`model1 = Model.from_keras_model(conn=sess,
                                keras_model=model,
                                output_model_table='converted_keras_model',
                                include_weights=True)
NOTE: A

[2018-11-29 13:51] eusdougc commented on #45
@TheodorGosden - so it sounds like you were able to run your script successfully, you were just surprised by the behavior of the function.  Is that correct?

Let me give you a little background, and then the function behavior might not seem so surprising.  We cannot directly import a Keras model into the SAS deep learning framework.  We have a Viya action that will import the deep learning model p

[2018-11-29 14:38] ethem-kinginthenorth commented on #45
Cool. From my understanding what we need is to have an example to clarify what @eusdougc explained for future reference. I am closing this issue and opening another one for that example. Thanks.

[2018-11-29 14:38] #45 closed

[2018-11-29 14:39] ethem-kinginthenorth opened #54 "Detailed Keras Model conversion example"
We need to add a detailed Keras model conversion example that explains ways to export/import Keras models.

[2018-11-29 18:50] ethem-kinginthenorth opened #55 "support bio-image"
In the future, we need to support biomedical applications of deep learning via dlpy.

[2018-11-29 18:51] ethem-kinginthenorth opened #56 "improve support for pruning and tuning"
pruning and tuning DL networks are gaining more attention and dlpy needs to improve its support to pruning and tuning

[2018-11-29 18:55] ethem-kinginthenorth opened #57 "support pytorch-like interface with dynamic graph"
support pytorch-like interface with dynamic graph

[2018-11-29 18:56] ethem-kinginthenorth opened #58 "support allennlp"
https://github.com/allenai/allennlp/tree/master/allennlp/data/dataset_readers

[2018-11-29 18:56] ethem-kinginthenorth opened #59 "improve valid_conf_mat"
it only shows the crosstab results.We can display more like precision, recall, ...

[2018-11-29 18:57] ethem-kinginthenorth opened #60 "support conv1d"
https://blog.goodaudience.com/introduction-to-1d-convolutional-neural-networks-in-keras-for-time-sequences-3a7ff801a2cf?source=emailShare-10b6f551e7b-1539893042

[2018-11-29 18:58] ethem-kinginthenorth opened #61 "adding more pre-defined weights"

[2018-11-29 18:58] ethem-kinginthenorth opened #62 "supporting squeeze and excitation net"

[2018-11-29 19:00] ethem-kinginthenorth opened #63 "support more tasks like regression and autoencoder"
this requires changes in score, train, and a number of other functions

[2018-11-29 19:00] ethem-kinginthenorth opened #64 "support tabular data"

[2018-11-29 19:16] ethem-kinginthenorth opened #65 "going over the case-insensitivity of dlpy"

[2018-11-29 19:17] ethem-kinginthenorth opened #66 "improving ImageTable.from_table"
this includes adding _id_ column,
supporting more tasks,
re-visiting the column naming and adding/dropping columns part

[2018-11-29 19:18] ethem-kinginthenorth opened #67 "improving esppy integration"

[2018-11-29 19:46] ethem-kinginthenorth opened #68 "images.ImageTable.crop inplace=False branch incorrect output"
else:
            out = self.copy_table()
        **    out.crop(x=x, y=x, width=width, height=height)**
            return out

[2018-11-29 19:48] #68 closed

[2018-11-29 19:52] ethem-kinginthenorth opened #69 "Examples should be organized in terms of model types or model tasks"

[2018-11-29 20:05] ethem-kinginthenorth commented on #69
I am about to re-org the examples:
image_classification:
Identifying_Superheroes_From_Product_Images.ipynb

keras_model_conversion:
Import_InceptionV3_Weights_From_Keras_HDF5.ipynb
KerasModelConversion.ipynb

object_detection:
PrepareObjectDetectionTable.ipynb
SimpleObjectDetection.ipynb

onnx:
DLPy_Export_ONNX.ipynb
DLPy_Import_ONNX_Model.ipynb

quick_start:
A_Comprehensive_Image_Classification_E

[2018-11-29 20:12] ethem-kinginthenorth opened #70 "add layer_id to the print_summary"

[2018-11-29 22:07] #69 closed

[2018-11-30 12:25] TheodorGosden opened #73 "Conflicting documentation"
`model.deploy` has a server-side param as path, but if you look at the code, it will go down and pick .save_to_astore, which has a client-side param as path.

[2018-11-30 12:45] TheodorGosden opened #74 "model.save_to_astore"
I've tried to give it a client path as described. This is what I've tried:

First I run this - to create a model.

[code]

Then i run this `model1.save_to_astore(["C:/Users/sdktgo"])` which returns:
[code]

Should I understand this as it cannot find the weight file on the server-side?

[2018-11-30 12:52] TheodorGosden opened #75 "model.save_to_table and _with_caslibify doesn't actually save a file containing a table"
After i execute `model1.save_to_table("/media")` there's nothing in the /media folder on the server. Even though I get this output:

[code]

[2018-11-30 13:03] yg2288 commented on #73
This was just addressed in #53, which updated the doc to specify client-side path.  However, note that for deploy to 'table', the path will still be server-side.

[2018-11-30 13:11] yg2288 commented on #74
Did you call `model1.load_weights` by specifying `converted_keras_model_weights.kerasmodel.h5`?  After you convert to Keras, you get the .kerasmodel.h5 file on the client side.  You will need to then load these weights, otherwise all you have is a model table.

Also, be careful of the path separator on Windows.

[2018-11-30 14:31] TheodorGosden commented on #74
No I didn't - I was under the impression that `include_weights=True`, made sure that the weights were included.

Now, I had a few problems with the `load_weights`. First it doesn't do client-side, so after I moved my .kerasmodel.h5 over to the server it found it. Then i ran this:
[code]

I also tried to run the `_from_keras` but got the same issue:
[code]

I noticed that it said it had successfull

[2018-11-30 20:45] ethem-kinginthenorth commented on #74
There might be a caslib thing here. Could you please debug the code to see if a caslib is created successfully and the parameters passed ok. You can start with reporting what is the output of this line:         cas_lib_name, file_name = caslibify(self.conn, path, task='load')

[2018-11-30 20:46] ethem-kinginthenorth commented on #75
if you are not getting any errors, you should debug your code and see what is happening. It is quite hard from here to comment. But again, I am thinking there might something related with caslibs.

[2018-11-30 20:48] ethem-kinginthenorth commented on #75
I just check the code again. The current code expects you to have some weights (means training) then you can save model file as well as weights. Closing this as nobug.

[2018-11-30 20:48] #75 closed

[2018-11-30 20:52] sasxianhu commented on #75
If model1 does not contain any weight, shouldnt we return the error when trying to save them as CAS tables?

[2018-11-30 20:54] ethem-kinginthenorth commented on #75
I am leaving that part to the user. If we cannot save the table due to an error we do give proper messages but we just don't let users to save a model only table.

[2018-12-03 10:08] TheodorGosden commented on #74
@ethem-kinginthenorth Okay, I found out I had made a typo, which is now fixed.

Now i'm getting:
[code]

Which I find to be super weird, as I'm exporting it from that exact model and then trying to put them back in.

Below is my full code using an imported Keras dataset for full reproducability if needed.

[code]

[2018-12-03 12:20] yg2288 commented on #74
Thanks for the code, I will try to reproduce on my end.

[2018-12-03 12:22] TheodorGosden commented on #74
@yg2288 I will just send you the RACE image i'm currently using, so you can 100% reproducability.

[2018-12-03 13:20] yg2288 commented on #74
The issue is caused by feeding a 3D input directly into a dense layer.  If it is not flattened, the result seems to be that Keras applies the dense layer to the last axis, so effectively size of 1 instead of 784 (flattened) to the dense layer (input shape being 28x28x1).  Therefore you are seeing the wrong model weights error since DLPy model is expecting different number of parameters compared to

[2018-12-03 13:41] TheodorGosden commented on #74
Ah I see, thank you so much - it works now! There's no way I would have figured that out on my own!

[2018-12-03 14:08] ethem-kinginthenorth commented on #74
Seems like this issue is resolved. Closing

[2018-12-03 14:08] #74 closed

[2018-12-03 14:11] #51 closed

[2018-12-03 14:11] ethem-kinginthenorth commented on #73
@yg2288 I just merged your last pull, does that resolve this issue?

[2018-12-03 14:41] yg2288 commented on #73
I think we can close this, Wenyu recently resolved the issue. Thanks

[2018-12-03 15:30] ethem-kinginthenorth commented on #73
@TheodorGosden can you check if the documentation is clear now?

[2018-12-03 15:33] TheodorGosden commented on #73
@ethem-kinginthenorth I'm still getting the same documentation on https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.deploy.html

It's mostly because that astore is the default option, so i'd expect the docs to say client side.

[2018-12-03 15:35] ethem-kinginthenorth commented on #73
I think I know the reason. IF we don't do a release, auto-generated docs are the same. I am hoping to do another release this week, so it should be better. Meanwhile, maybe you want to check the source code to see if the documentation there is better as it will be generated when we do the release. Thanks

[2018-12-03 15:42] TheodorGosden commented on #73
Looks good in the source code 👍 Closing issue.

[2018-12-03 15:42] #73 closed

[2018-12-04 08:29] yg2288 opened #76 "Allow user to specify output layer when importing ONNX models"
If no output layer is specified, default to Softmax output for classification tasks.
Otherwise, users can optionally specify other layer types, such as detection.

[2018-12-04 15:40] #76 closed

[2018-12-05 06:04] bensloane commented on #56
I can look at pruning if needed

[2018-12-05 13:54] sasxianhu commented on #56
Sure. Please work with Josh together on pruning.

[2018-12-06 22:24] mdziec opened #82 "problem with display_object_detections"
This code:
display_object_detections(sess, 'tbl', 'yolo', max_objects=3, num_plot=3, n_col=2)
ends with error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-13-a9a6b0fe6733> in <module>()
----> 1 display_object_detections(sess, 'tbl', 'yolo', max_objects=3, num_plot=3, n_col=2)

[2018-12-07 10:20] mdziec commented on #82
Source of the problem is in **create_object_detection_table**!
If filename contains dots ("aaa.sss.bbb.png" and "aaa.sss.bbb.xml") then result table have missing values in almost all columns.

[2018-12-07 14:00] ethem-kinginthenorth commented on #82
Sounds like a bug. @wenyushi can you please take a look at this.

[2018-12-07 14:08] ethem-kinginthenorth commented on #82
Thanks @mdziec for identifying the problem.

[2018-12-07 14:56] ethem-kinginthenorth opened #83 "missing doc string for a couple of parameters in Tiny_Yolov2 model"
I have a question about Tiny_YoloV2() function of DLPy1.0.
In the following sample code of object detection on github,
  https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/SimpleObjectDetection.ipynb
the following are described as parameters of Tiny_YoloV2 () function,
yolo_model = Tiny_YoloV2(s,
n_classes=2,
predictions_per_grid=5,
anchors = yolo_anchors,
max_boxes=1

[2018-12-07 14:56] ethem-kinginthenorth commented on #83
@wenyushi can you please also look at this one

[2018-12-07 19:15] haghad opened #84 "conda install does not work (but pip install did)"
When I tried to install sas-dlpy with conda:
"conda install -c sas-institute sas-dlpy"

I get the following error:

**UnsatisfiableError: The following specifications were found to be in conflict:
  - defaults/win-64::openssl==1.1.1a=he774522_0
  - sas-dlpy -> matplotlib -> functools32 -> python[version='>=2.7,<2.8.0a0'] -> vc=9
  - sas-dlpy -> matplotlib -> pyqt=5.6 -> qt=5.6 -> openssl=1.0
Use "

[2018-12-07 19:19] ethem-kinginthenorth commented on #84
DLPy has dependencies to a few libraries (from setup.py)
  install_requires=[
        'swat >= 1.5.0',
        'pandas >= 0.16.0',
        'six >= 1.9.0',
        'graphviz',
        'matplotlib',
        'pillow'
    ],

I believe in the conda install it requires these dependencies to be satisfied before downloading assuming some of them are in different channels. In the pip install case, it shou

[2018-12-09 00:37] mdziec opened #86 "Since there is no image that contains a bounding box, cannot display any image."
What could be the reason for the following message?

Since there is no image that contains a bounding box, cannot display any image.

from
predict_tbl = ImageTable.load_files(conn=sess, path='/opt/sasinside/DemoData/test_img2/')
predict_tbl.resize(height=416, width=416, inplace=True)
model.predict(data=predict_tbl)
display_object_detections(conn=sess,
                          coord_type='yolo',

[2018-12-09 00:39] sasxianhu commented on #86
This usually means your model is not converged.

From: mdziec <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Saturday, December 8, 2018 at 7:37 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [sassoftware/python-dlpy] Since there is no image that contains a bounding box, cannot disp

[2018-12-09 00:40] bensloane commented on #86
Are you using the provided weights or training from scratch? Could be that your model has not been trained long enough. Do you have any fit statistics or metrics?

[2018-12-09 00:44] mdziec commented on #86
How can I get to know it?

solver = MomentumSolver(learning_rate=0.001, clip_grad_max = 100, clip_grad_min = -100)
optimizer = Optimizer(algorithm=solver, mini_batch_size=10, log_level=2, max_epochs=20, reg_l2=0.005)
data_specs = [DataSpec(type_='IMAGE', layer='Input1', data=inputVars),
              DataSpec(type_='OBJECTDETECTION', layer='Detection1', data=targets)]
#gpu = Gpu(devices=[0])
model

[2018-12-09 00:45] sasxianhu commented on #86
Can you paste your training log?

From: mdziec <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Saturday, December 8, 2018 at 7:44 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian Hu <Xiangqian.Hu@sas.com>, Comment <comment@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Since there is no image that contains a bound

[2018-12-09 00:46] mdziec commented on #86
  | Descr | Value
-- | -- | --
Model Name | tiny-yolov2
Model Type | Convolutional Neural Network
Number of Layers | 25
Number of Input Layers | 1
Number of Output Layers | 0
Number of Convolutional Layers | 9
Number of Pooling Layers | 6
Number of Fully Connected Layers | 0
Number of Batch Normalization Layers | 8
Number of Weight Parameters | 11021232
Number of Bias Parameters | 5088
Total Numbe

[2018-12-09 00:48] sasxianhu commented on #86
This is just the model info. What is your iteration history?

Best,
XQ

On Dec 8, 2018, at 7:47 PM, mdziec <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

        Descr   Value
Model Name      tiny-yolov2
Model Type      Convolutional Neural Network
Number of Layers        25
Number of Input Layers  1
Number of Output Layers 0
Number of Convolutional Layers  9
Number

[2018-12-09 00:49] bensloane commented on #86
When you run fit() you should have a log of loss and fit error per epoch.

[2018-12-09 00:50] mdziec commented on #86
I have corrected the log above

[2018-12-09 00:52] bensloane commented on #86
Your learning rate seems very high to begin with. I would lower the initial learning rate to start. It could be that you are updating with too large a step and never converging.

[2018-12-09 00:53] sasxianhu commented on #86
The pasted log is misaligned. The learning rate is 0.001. But the training loss is still too big and the fit error is not improved at all. Something seems wrong. Is your input data correct?

[2018-12-09 00:54] bensloane commented on #86
Oh the table is off by a column I'm seeing that now. Not a problem with the LR.

[2018-12-09 00:56] mdziec commented on #86
Do you have access to RACE? If so, please send an email to splmdz@spl.sas.com

[2018-12-09 00:56] bensloane commented on #86
I can follow up on this XQ

[2018-12-09 00:57] sasxianhu commented on #86
Okay. Thanks.

Best,
XQ

On Dec 8, 2018, at 7:56 PM, Ben Sloane <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I can follow up on this XQ

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/sassoftware/python-dlpy/issues/86#issuecomment-445501697>, or mute the thread<https://github.com/notifications/unsu

[2018-12-09 01:50] bensloane commented on #86
Issue resolved can be closed.

Over fit on training set produced valid predictions during inference on training data.

[2018-12-09 01:53] sasxianhu commented on #86
Overfitting a small set of training data is always a good sign. :)
Thanks, Ben. Close it now.

[2018-12-09 01:53] #86 closed

[2018-12-10 13:34] ethem-kinginthenorth commented on #84
The error indicates that there are conflicts with openssl and matplot. Even though we couldn't reproduce these conflicts, we tried conda install on multiple machines and we couldn't found any problem. I am going to close this issue later today if there is no objection.

[2018-12-10 13:44] sasxianhu opened #87 "APIs for model assessments"
Wrappers for the assess action for regression and classification models.

[2018-12-10 13:46] ethem-kinginthenorth commented on #87
@sasxianhu could you please elaborate on these a little bit. Thanks

[2018-12-10 13:50] sasxianhu commented on #87
https://scikit-learn.org/0.17/modules/model_evaluation.html#classification-metrics
https://scikit-learn.org/0.17/modules/model_evaluation.html#regression-metrics

We have actions to do all these but better provide more friendly APIs.

[2018-12-10 14:18] ethem-kinginthenorth commented on #87
There is already an issue: #59 . I am keeping this as it is more detailed and closing the other one.

[2018-12-10 14:22] ethem-kinginthenorth commented on #59
can be done with #87 so closing this one.

[2018-12-10 14:22] #59 closed

[2018-12-10 15:14] wenyushi commented on #83
Those parameters are documented in detection layer. I will update the document.

[2018-12-10 15:15] ethem-kinginthenorth commented on #83
Thanks @wenyushi

[2018-12-10 16:51] Mespith opened #88 "Bug in audio.py"
When I try to load audio files using dlpy giving it a caslib in the parameters, it gives me an error.

`au = AudioTable.load_audio_files(conn, "listings.txt", caslib='audio_tryout')`
![image](https://user-images.githubusercontent.com/7500718/49747564-f419cb00-fca3-11e8-9985-ee9888bcd53b.png)

This is because of an error in the code in audio.py line 105:
`cls.running_caslib = find_path_of_caslib(ca

[2018-12-10 18:16] ethem-kinginthenorth commented on #88
@Mespith Thanks a lot for pointing out the issue. I am pushing a fix soon.

[2018-12-10 18:20] #88 closed

[2018-12-10 21:59] #84 closed

[2018-12-10 22:02] #83 closed

[2018-12-10 22:02] #82 closed

[2018-12-12 14:58] RLstat commented on #87
I will start working on the classification metrics shortly if no one has taken it.

[2018-12-13 15:02] mdziec opened #91 "Prediction with best weights get error"
After saving best weights with save_best_weights=True (TinyYoloV2 model) option I try to use this weights and predict.

model.set_weights('model_best_weights_uvSn8E')
model.predict(data=dettbl) #dettbl is training table

I get error message:

NOTE: Model weights attached successfully!
ERROR: A floating point exception or access violation occurred that prevents progress of the analysis. This is usu

[2018-12-13 15:31] sasxianhu commented on #91
what happens if you do not use the bestweights?  are you able to get anything?

[2018-12-13 16:23] mdziec commented on #91
If I don’t use best weights in “set_weight” prediction work normally, without errors.

From: sasxianhu <notifications@github.com>
Sent: Thursday, December 13, 2018 4:31 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Mariusz Dzieciatko <Mariusz.Dzieciatko@sas.com>; Author <author@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Prediction with best weights get error (

[2018-12-17 15:04] wenyushi commented on #91
Hi, I cannot repeat the error. Could you send me your script? So that I can debug it. Thanks.

[2018-12-17 22:21] mdziec commented on #91
[detekcja_obiektow_test.zip](https://github.com/sassoftware/python-dlpy/files/2688036/detekcja_obiektow_test.zip)

[2018-12-18 21:51] haghad opened #92 "object detection example: invalid object detection variable list"
I'm trying to follow the simple object detection example,
and I'm getting the following error in the screenshot below.
I'm not sure what went wrong, or how to examine the "object detection variable list" more closely to debug this problem.
Note that one difference in my code versus the example is that I'm not using pre-trained weights, but I don't imagine that's relevant.
Any advice is much apprec

[2018-12-18 22:03] sasxianhu commented on #92
The cell 35 is not correct. The input data should like this:
_nobjects_, _object0_, _object0_x, _object0_y,_object0_width, _object0_height…

The first column means how many objects the image contains. If it is 5, then you have to have 5*5 columns to contain the object information. Each object is defined by class name (e.g., _object0_), bounding box information (e.g., _object0_x, object0_y,object0_

[2018-12-18 22:12] haghad commented on #92
I don't understand...
That cell is exactly the same as cell 10 in the example:
https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/SimpleObjectDetection.ipynb

But nevertheless, are you saying the input_vars list should be the same as the targets list?
I tried changing my code so that inputVars = targets, but that leads to the same error.

Also, in my case I have one t

[2018-12-18 22:14] sasxianhu commented on #92
Do a columInfo call on your table to check the columns first.
And  then print your targets.

Check whether they match or not.

From: haghad <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Tuesday, December 18, 2018 at 5:12 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian Hu <Xiangqian.Hu@sas.com>, Comment <comment@noreply.git

[2018-12-18 22:19] haghad commented on #92
You are correct that my targets list does not match the trainset columns...

![image](https://user-images.githubusercontent.com/44681869/50186375-94956e00-02e8-11e9-8026-1142140769ce.png)

I suppose I could subset this trainset table, to drop the other columns, but then how would the model get access to the actual training images?  Aren't the training images in this very table?
Thanks.

[2018-12-18 22:30] sasxianhu commented on #92
I assume the maximum number of objects in the training data is 3. Then the targets variable list seems correct.

Please also check the column types. _nojbects_ must be numerical, *_x, *_y, *_width, *_height must be numerical as well.

From: haghad <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Tuesday, December 18, 2018 at 5:19 PM
To: sassoftware/python

[2018-12-18 22:42] sasxianhu commented on #92
BTW: _object*_ must be char type for your object labels.

From: haghad <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Tuesday, December 18, 2018 at 5:19 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian Hu <Xiangqian.Hu@sas.com>, Comment <comment@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] object detection exam

[2018-12-18 23:09] mdziec opened #93 "DLPyError: Detection data contains classes that are not in ground truth"
If all class names are shorter than 8 characters then until _Object0_ is fully completed, the evaluate_object_detection method returns an error because the "NoObject" constant is truncated in the detection table.

Part of the prediction table:

idjoin | _Object0_ | _Object1_ | _Object2_ | _Object3_ | _Object4_ | _Object5_ | _Object6_
-- | -- | -- | -- | -- | -- | -- | --
8ancj8j8a1_1 | NoObjec | N

[2018-12-19 14:58] wenyushi commented on #93
Hi, I believe the issue has been fixed in the DLPy 1.0.1 version. Can you update it and see if it works?

[2018-12-19 16:34] bensloane commented on #92
Can you also post the cell used to construct the model?

[2018-12-19 16:52] haghad commented on #92
Re: "BTW: _object*_ must be char type for your object labels."
"_nojbects_ must be numerical, *_x, *_y, *_width, *_height must be numerical as well"
It looks right, here's a screenshot:
![image](https://user-images.githubusercontent.com/44681869/50234654-3027ec80-0384-11e9-9350-430369e87aea.png)

[2018-12-19 16:54] haghad commented on #92
![image](https://user-images.githubusercontent.com/44681869/50234953-ce1bb700-0384-11e9-8574-1efa469ca47b.png)

[2018-12-19 16:57] bensloane commented on #92
Ok so it looks like object2 coordinates are varchar... can you try changing to double?

[2018-12-19 17:09] haghad commented on #92
Good eye, well-spotted!
Could you please tell me how to change the type of those columns?
(Note that I created this CasTable from a csv file, and
after manually checking the csv file, I'm a bit puzzled about why
for object2's box coordinates they got uploaded as a char instead of double.
I mean it got all the other ones correct for object0 and object1, automatically.)
Thanks.

[2018-12-19 17:38] sasxianhu commented on #92
You can specify the column types when you call upload_frame like this:

def get_imagenet_labels_table(conn):

    temp_name = random_name('new_label_table', 6)

    filename = os.path.join('datasources', 'imagenet_labels.csv')

    project_path = os.path.dirname(os.path.abspath(__file__))

    full_filename = os.path.join(project_path, filename)

    labels = pd.read_csv(full_filename, skipinitial

[2018-12-19 17:56] bensloane commented on #92
See more [here](https://go.documentation.sas.com/?cdcId=pgmsascdc&cdcVersion=9.4_3.4&docsetId=caspg&docsetTarget=compg-importoptionsparam.htm&locale=en#PYTHON.cascommon.prm-importOptions-alt_csvopts) for specifying format type during import. You can pass in as a list of dicts where the var name and format would be separate keys and the values would be the var name and format you'd like to enforce

[2018-12-19 18:51] haghad commented on #92
Yes, I want to change the column type after the table is already loaded, so how does one do that?
alterTable() doesn't seem to have the option to change "Type".  I tried playing around with changing "Format" but that's not the same thing.

[2018-12-19 19:03] sasxianhu commented on #92
You cannot change the type…

From: haghad <notifications@github.com>
Sent: Wednesday, December 19, 2018 1:52 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian Hu <Xiangqian.Hu@sas.com>; Comment <comment@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] object detection example: invalid object detection variable list (#92)

EXTERNAL

For changing the format afte

[2018-12-19 19:37] bensloane commented on #92
Apologies I misunderstood the doc format != type :) ...  What I've done in the past is use the dlJoin action but dlpy has the `create_object_detection_table`  which is really convenient. In your case since you have a csv of annotations I would use XQ's suggestion above and enforce the type when uploading. Can you try reloading with the suggestions above?

[2018-12-19 22:03] haghad commented on #92
this problem is pretty much resolved by getting the CASTable from a csv file in different ways.
In investigating this problem, I've found three ways.
METHOD 1: CSV -> Pandas DF -> CASTable
using "conn.upload_frame()" method on the pandas data frame created a CAS Table with the correct data types
(interestingly, the code says that this method converts back to csv before uploading into CASTable)

ME

[2018-12-19 23:41] sasxianhu commented on #92
Do not use guessRows since the types could be still wrong. Do method 1 always if you know your column types.
Your new error means your GPU machine has the old GPU driver version.

From: haghad <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Wednesday, December 19, 2018 at 5:03 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian

[2018-12-19 23:42] #92 closed

[2018-12-19 23:42] sasxianhu commented on #92
close this now.

[2018-12-21 16:12] haghad opened #94 "model.deploy to astore not working, event though model.deploy to castable works as expected"
after training a model, I tried to save it to a data file using the following:

`model.deploy(model_path+'alt1/', output_format='astore')`
`model.deploy(model_path+'alt2/', output_format='castable')`

even though a message is printed that says "...saved successfully",
when I check the folder model_path  + 'alt1/' it is empty.
But for model_path + 'alt2/' the .sashdata files are there as expected.

[2018-12-21 16:36] sasxianhu commented on #94
alt1 is supposed to be a local path on the machine you launch notebook. Can you check this?

[2018-12-21 16:43] haghad commented on #94
the documentation for model.deploy says:

    Specifies the client-side path to store the model files.

alt1 and alt2 both sit in the same parent folder, right next to each other.
So shouldn't it be the case that they are both be client-side, because one of them (alt2) works in this function call.

[2018-12-21 18:12] sasxianhu commented on #94
astore needs special ways to be downloaded. The doc is not very clear about it.

[2018-12-21 21:15] mdziec commented on #91
I use MPP but without GPU. I will try to do a test on SMP.

[2018-12-21 21:16] mdziec commented on #93
I did an update but I have not checked if everything is OK.

[2019-01-04 13:51] eusdougc commented on #49
@ethem-kinginthenorth - I do not have a patch yet.

[2019-01-04 17:40] ethem-kinginthenorth opened #95 "temp. caslibs should be dropped"
I create temp. caslibs and normally keep it and re-use it when necessary. However, this would fail when there is a subpath in a given path, that is part of an existing caslib. This makes thing complicated. Therefore, I am going to change the current behavior and drop the temp. caslibs when we are done. I am also planning to add a more self-explanatory message.

[2019-01-04 17:52] #95 closed

[2019-01-04 18:09] ethem-kinginthenorth commented on #87
@RLstat any progress on this end?

[2019-01-04 18:33] RLstat commented on #87
@ethem-kinginthenorth I finished the metrics and doc, but still working on some unit tests. Will send merge request probably Monday when more tests are added.

[2019-01-04 18:35] ethem-kinginthenorth commented on #87
Awesome. thanks for the update, @RLstat

[2019-01-04 20:43] #70 closed

[2019-01-04 20:44] ethem-kinginthenorth commented on #30
I just miswrite the issue number while pushing; therefore, re-opening the issue

[2019-01-08 21:48] bensloane opened #98 "Model.deploy() where clause"
Related to #94 . Using model.deploy() with castable as the output_format. Receive a dlpy error stating something is wrong while extracting model attributes. See below for example used and error message. Would I just save attributes, weights, model table separately? We can also move this to #94 if this shouldn't be a separate issue. Thanks!

### Example
Model training
[code]
Model deployment
[code]

[2019-01-10 16:15] bensloane commented on #98
This was a user error on my part. My model and weights table are both 23 layers, rather then the larger YoloV2 architecture of 43 layers.  I was able to deploy by changing the where clause. I successfully ran deploy() by changing the where clause in the weight assignment.

[code]
 Can be closed.

[2019-01-10 16:16] ethem-kinginthenorth commented on #98
glad it worked out. closing per owner's request.

[2019-01-10 16:16] #98 closed

[2019-01-10 20:24] ethem-kinginthenorth commented on #87
@RLstat, would the new merge resolves this issue?

[2019-01-10 20:51] RLstat commented on #87
@ethem-kinginthenorth , I will close it once I update the examples and demonstrate some of the newly added functionalities.

[2019-01-10 20:51] ethem-kinginthenorth commented on #87
@RLstat, great. thanks

[2019-01-23 15:35] RLstat opened #101 "Multistep ahead forecast feature"
Feedback from forecasting people that multi-step-ahead forecasting is pretty important. So I am thinking about building it in here. Probably with a method called `model.forecast()`. What it does is like:

![multi-step-ahead](https://user-images.githubusercontent.com/18621301/51617459-47fe0d80-1efa-11e9-8a95-08af2660b085.png)

If it makes sense, fits the theme and something good to have, I will sta

[2019-01-23 16:01] ethem-kinginthenorth commented on #101
@RLstat I value your judgement on this subject. make the call.

[2019-02-04 14:44] xinmwu opened #103 "ImageTable.show does not support an image variable not named _image_"
I have a CAS table with _id_, _label_ and _LayerAct_0_IMG_0_

I have create the image table

data = ImageTable.from_table(outTbl3, image_col='_LayerAct_0_IMG_0_')

however,  data.show(nimages=10, ncol=5, randomize=False) has errors about _image_ variable not found; data.show does not have an image option that parses in the image variable.

[2019-02-05 12:49] sasxianhu commented on #103
Which DLPy version?

Best,
XQ

On Feb 4, 2019, at 9:44 AM, xinmwu <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I have a CAS table with id, label and LayerAct_0_IMG_0

I have create the image table

data = ImageTable.from_table(outTbl3, image_col='LayerAct_0_IMG_0')

however, data.show(nimages=10, ncol=5, randomize=False) has errors about image variable not found; d

[2019-02-05 14:35] xinmwu commented on #103
It is 1.0.1

From: sasxianhu <notifications@github.com>
Sent: Tuesday, February 05, 2019 7:49 AM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xinmin Wu <Xinmin.Wu@sas.com>; Author <author@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] ImageTable.show does not support an image variable not named _image_ (#103)

EXTERNAL
Which DLPy version?

Best,
XQ

On Feb 4, 2019,

[2019-02-06 22:07] totuni opened #105 "dlpy.ImageTable.load_files not working"
`s.setsessopt(caslib='CASUSER')  #  Set default active caslib
#### this is located at /home/totuni/casuser/

panther='/data/totuni/images'
my_images = dlpy.ImageTable.load_files(s, path=panther)`

gives me the following error:

ERROR: Expecting one of the following: path, casOut, pathIsList, repeat, quiet, decode, recurse, labelLevels, distribution, addColumns, series, source, outputImages, output

[2019-02-06 22:08] ethem-kinginthenorth commented on #105
what is the viya version?

[2019-02-06 22:09] ethem-kinginthenorth commented on #105
the error sounds like the action does not recognize the caslib parameter which is added later. is there a way to check the same code on a very recent sas viya?

[2019-02-06 22:11] totuni commented on #105
Is 8.2 V03 old?

[2019-02-06 22:18] totuni commented on #105
I can run it on a RACE image  EEC164_V34_CL2 - but it runs to slow to be usable and the solvers don't work.  What version of SAS viya does dlpy support?

[2019-02-06 22:27] sasxianhu commented on #105
3.4 should work.

Best,
XQ

On Feb 6, 2019, at 5:18 PM, Tom Tuning <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I can run it on a RACE image EEC164_V34_CL2 - but it runs to slow to be usable and the solvers don't work. What version of SAS viya does dlpy support?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view

[2019-02-07 14:00] ethem-kinginthenorth commented on #105
dlpy versions are aligned with SAS Viya versions. dlpy version >= 1.0.0 requires SAS Viya 3.4

[2019-02-07 18:58] ethem-kinginthenorth commented on #103
@xinmwu I am still cleaning up the hard codings from the very initial version. I will be adding this feature shortly.

[2019-02-07 19:12] ethem-kinginthenorth commented on #101
@RLstat I am assuming you are implementing this right?

[2019-02-07 19:14] ethem-kinginthenorth commented on #103
@xinmwu I am about to push some changes. In order you to get these changes you have two options: 1) wait until the next release, hoping to have one late February or early March, or 2) git clone and point out to that version.

When I push the code, this issue will be closed, if you still have issues. feel free to re-open it.

[2019-02-07 19:16] ethem-kinginthenorth commented on #87
@RLstat I believe you have the examples for this right?

[2019-02-07 19:17] ethem-kinginthenorth commented on #64
@RLstat I am assuming we are supporting tabular data now, right?

[2019-02-07 19:29] RLstat commented on #101
@ethem-kinginthenorth , Yes, I am working on it.

[2019-02-07 19:29] RLstat commented on #87
@ethem-kinginthenorth , yes, the examples are included in the tabular data analysis, so we can close this one now.

[2019-02-07 19:31] RLstat commented on #64
@ethem-kinginthenorth , yes, we are. I've included examples about how to use dlpy for tabular data analysis.

[2019-02-07 19:41] ethem-kinginthenorth commented on #103
@xinmwu I just check the source code again and I believe you might have a different issue. I am looking into this.

[2019-02-07 19:42] ethem-kinginthenorth commented on #64
@RLstat thanks. closing the issue

[2019-02-07 19:42] #64 closed

[2019-02-07 19:42] ethem-kinginthenorth commented on #87
@RLstat thanks. closing the issue

[2019-02-07 19:42] #87 closed

[2019-02-07 20:59] ethem-kinginthenorth commented on #103
I fixed this with another push. Seems like the problem was coming from a different place. I tested with a scenario very close to yours and it is working. But again, in order to get this change you should get a local copy or wait until the next release and do an update.

[2019-02-07 20:59] #103 closed

[2019-02-07 22:14] bensloane opened #106 "Tick frequency for plot_training_history()"
## Description
Using plot_training_history() after training for several epochs will cause x_ticks on plot to overlap. Submitting issue and PR for minor change to allow user to specify tick frequency.

## Demo
Here is a small example to recreate behavior in Jupyter

[code]

## Output
plot with tick frequency 1 is default
![image](https://user-images.githubusercontent.com/36204239/52446175-383a1800-

[2019-02-08 11:03] MsJellyKing opened #108 "Tiny yolo weights"
Hi

How do I convert the tinyyolo weights file to sashdat?

Thanks
Kelly

[2019-02-08 12:09] sasxianhu commented on #108
Which tinyyolo weights file?

From: MsJellyKing <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Friday, February 8, 2019 at 6:03 AM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [sassoftware/python-dlpy] Tiny yolo weights (#108)

EXTERNAL

Hi

How do I convert the tinyyolo weights fil

[2019-02-08 13:14] bensloane commented on #108
I think this is referring to model.deploy() to save the trained weights but if that is not that case please correct me. I would use the following:

[code]
model.deploy() will write three sashdat files to that listed directory: the weights table, weight attribute table, and the model table. If you'd like to reload that model you can use the following snippet which points to the model table saved in

[2019-02-08 16:03] MsJellyKing commented on #108
Yes this worked. Thanks so much!

[2019-02-08 16:05] ethem-kinginthenorth commented on #108
@MsJellyKing glad it worked. Can we close this issue if everything is great now :)

[2019-02-08 16:06] MsJellyKing commented on #108
Yes please :D

[2019-02-08 16:09] #108 closed

[2019-02-08 18:53] ethem-kinginthenorth commented on #101
@RLstat awesome. could you please give me an estimate when you can deliver this? I would like to plan the next release.

[2019-02-08 19:12] #106 closed

[2019-02-08 19:39] RLstat commented on #101
@ethem-kinginthenorth Probably by the end of this month.

[2019-02-08 20:45] ethem-kinginthenorth commented on #101
@RLstat thanks. I am waiting you to finish before doing another release. please keep me updated. thanks

[2019-02-21 23:30] RLstat opened #111 "Restricting the 'table' in model.train and 'data' in model.fit to be only CASTable object (not strings)?"
I am wondering whether we want to restrict the `table` argument in `model.train` and `data` argument in `model.fit` to be CASTable object only (or its subclasses, such as ImageTable, TimeseriesTable, AudioTable etc. ), but not strings.

There are several benefits:
1) we can infer what type of input data we are dealing with, by checking whether it is `ImageTable`, `TimeseriesTable`, `AudioTable` or

[2019-02-21 23:34] RLstat commented on #101
@ethem-kinginthenorth update: likely to have a merge request regarding this feature by the end of next week.

[2019-02-21 23:49] sasxianhu commented on #111
We should always allow the string since the table object is too strict. If your function need a table object, just check the type and return the error if the string is passed in.

[2019-03-04 23:57] RLstat commented on #111
sounds good to me. Keeping it as it is and doing type checking on specific applications. Closing the issue.

[2019-03-04 23:57] #111 closed

[2019-03-08 20:41] kedarps opened #116 "Sharing weights between layers"
Does `dlpy` allow sharing of weights between layers? I see this functionality in the `addLayer` action using the `sharingWeights` parameter in the `deepLearn` action set.

I do not see this parameter in `dlpy.Layer`. Is there a way to share weights between layers in `dlpy`?

[2019-03-08 23:14] sasxianhu commented on #116
Not with Viya 3.4. We will release a new Viya at 19w21. The APIs are designed for this new release.

[2019-03-08 23:14] #116 closed

[2019-03-20 17:44] jkhargharia opened #117 "Keras to DLPy model conversion error"
I get the following error when converting a Densenet121 model from Keras to DLPy. I am using DLPy 1.0.1, python 3.6 and Keras 2.1.5. The weights file is generated successfully.

`#invoke Keras model`
`model = DenseNet121(weights=None, input_shape=(299, 299, 3))`

`model_dlpy = model.from_keras_model(conn=s, keras_model=model, output_model_table='DenseNet121', include_weights=True,
               i

[2019-03-20 17:50] sasxianhu commented on #117
Check the Keras model definition. The layer names have to match the DLPy definition.

[2019-03-20 19:47] eusdougc commented on #117
The problem is indicated by the warning messages:

WARNING: zeropadding2d is an unsupported layer type - your SAS model may be incomplete
WARNING: unable to generate SAS definition for layer zeropadding2d
WARNING: zeropadding2d is an unsupported layer type - your SAS model may be incomplete
WARNING: unable to generate SAS definition for layer zeropadding2d

We do not support a layer of type "zerop

[2019-03-24 04:33] RLstat commented on #101
closing this as the new feature has been merged.

[2019-03-24 04:33] #101 closed

[2019-03-25 11:01] charchikasinha opened #120 "Caffe to DLPy conversion error"
Hi,

While converting a Caffe model (https://github.com/BVLC/caffe/tree/master/models/bvlc_googlenet) to DLPy model I get the following error.

[code]

../network.pyc in from_caffe_model(cls, conn, input_network_file, output_model_table, model_weights_file, **kwargs)
---> output_code = caffe_to_sas = caffe_to_sas(input_network_file, model_name, network_param = model_weights_file, **)

../sas_caffe

[2019-03-25 14:15] eusdougc commented on #120
Hello @charchikasinha,

Can you answer a couple of questions for me?  The answers will help to diagnose what the problem is.

1) Is your Viya server Linux/Unix based?
2) What operating system does your client use?  By client, I mean whatever computer you are running your Python code on.
3) Do both the Viya server and the client have access to the same file system?

[2019-03-25 15:42] totuni commented on #105
Upgrading to Viya 3.4 solved the problem.

[2019-03-25 15:42] #105 closed

[2019-03-26 07:28] charchikasinha commented on #120
1. Server is **Linux based** (Red Hat)
2. Running the Python code on **Ubuntu**
3. No Viya server and the client do not have access to the same file system. But the files are stored in the same directory on both machines. On the server the directory is 777 and so does the client directory.

[2019-03-26 21:07] eusdougc commented on #120
@charchikasinha - My Caffe environment is broken at the moment, so I cannot reproduce your problem.  I'd like to ask you to try something to see if there is a temporary work-around for your issue.  Please copy

/home/charchika/Documents/SAS/caffe/models/bvlc_googlenet/deploy.prototxt

to

/home/charchika/Documents/SAS/caffe/models/bvlc_googlenet/deploy.prototxt.tmp

and leave the original file as-

[2019-03-28 15:58] kedarps opened #121 "Error loading from ONNX model"
I am having issues loading onnx model. Here is the code:

[code]

I get the following error:
![onnxImportError](https://user-images.githubusercontent.com/12261096/55172511-86a98180-5150-11e9-81d5-c8638eb38b68.PNG)

My `onnx` version is `1.1.1`.

[2019-03-28 16:07] yg2288 commented on #121
Hi, this error is due to an older version of ONNX; DLPy supports ONNX version 1.3 or newer ([doc here](https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.deploy.html?highlight=onnx)) - could you try upgrading and see if the issue persists?  Thanks

[2019-03-28 19:49] kedarps commented on #121
I successfully updated onnx to 1.4.1 and I am able to use `from_onnx_model`, but I am stuck on the next step using `load_weights`.

Running,
[code]
gives me,
[code]

I am trying to load the weights from `h5` file, `model.load_weights('onnx_model_64OKmg_weights.onnxmodel.h5')`. I get an error,

![loadWeightsError](https://user-images.githubusercontent.com/12261096/55187962-946eff00-5170-11e9-8853-2

[2019-03-28 20:00] ethem-kinginthenorth commented on #121
I am seeing two issues here, one in the code and the second is in your side.
in the code: the code assumes that the path cannot be in the root, which is a fairly good assumption but I will investigate this.
in your code: please make sure that the path is accessible from your server.

[2019-03-28 20:22] kedarps commented on #121
I tried the following: I copied the `.h5` file to the server. I have the server path added using the `addcaslib` action. I still get the same error.

[2019-03-28 20:27] ethem-kinginthenorth commented on #121
please use the full path of your file. the goal is that you don't need to worry about the caslib where dlpy takes care of it under the hood.

[2019-03-28 21:02] kedarps commented on #121
Providing the full path gives me a duplicate caslib error. Note that the path with my weights file is not the same as my `caslib` path.

![caslibError](https://user-images.githubusercontent.com/12261096/55192149-3a733700-517a-11e9-9e15-5468341101c8.PNG)

This is on `U drive`. So I also tried using `/u/myPath/weights.h5` and `U:/myPath/weights.h5`

[2019-03-28 21:22] sasxianhu commented on #121
Do not use your u drive.

From: Kedar Prabhudesai <notifications@github.com>
Reply-To: sassoftware/python-dlpy <reply@reply.github.com>
Date: Thursday, March 28, 2019 at 5:02 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Error loading from ONNX model (#121)

EXTERNAL

Providing the full path giv

[2019-03-29 16:07] kedarps commented on #121
This is working now. Thanks for the help.

[2019-03-29 16:07] #121 closed

[2019-03-29 18:41] eusdougc commented on #120
@charchikasinha  - I can reproduce your problem now.  I am working on a fix.  It will likely be incorporated into the next DLPy release.

[2019-04-05 17:10] haghad opened #125 "general question about "from_sashdat" method"
Can someone please point me to an example usage of the "from_sashdat" method for loading a model?

[2019-04-05 17:14] sasxianhu commented on #125
After you generate a model and then call table.save and store it as a sashdat, you can call this API to load the model.

XQ

From: haghad <notifications@github.com>
Sent: Friday, April 05, 2019 1:11 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [sassoftware/python-dlpy] general question about "from_sashdat" method (#125)

EX

[2019-04-05 17:32] haghad commented on #125
Thanks, for future readers of this post:
[code]

[2019-04-05 17:32] #125 closed

[2019-04-05 17:56] haghad opened #126 "general question about display_object_detections"
regarding ```display_object_detections``` method
Is there an option to only show predictions of a particular class?
For example, show predictions of detection_class="Person".
(So that for every image bounding boxes are drawn for predicted objects of type person but not for predicted objects of any other type.)

[2019-04-05 18:19] sasxianhu commented on #126
Do not think so.

From: haghad <notifications@github.com>
Sent: Friday, April 05, 2019 1:56 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [sassoftware/python-dlpy] general question about display_object_detections (#126)

EXTERNAL

regarding display_object_detections method
Is there an option to only show predictions of a par

[2019-04-12 18:43] ethem-kinginthenorth commented on #126
@haghad you can achieve something similar by filtering the resulting detection table (e.g., where='_Object0_=="Person"').

That said, if you think this is an important for this and future projects of yours, we can mark this as 'future'.

Please let us know.

Thanks

[2019-04-12 18:46] ethem-kinginthenorth commented on #120
@eusdougc I believe your recent merge covers this issue, right?

[2019-04-13 19:57] eusdougc commented on #120
@ethem-kinginthenorth - that is correct.  I believe we can close this issue.

[2019-04-14 14:07] #120 closed

[2019-04-23 15:56] eusdougc commented on #49
This bug was fixed by pull request #127 .

[2019-04-23 15:56] #49 closed

[2019-04-23 15:58] eusdougc commented on #117
This was addressed by pull request #127.  Importing a DenseNet model should now work.

[2019-04-23 16:01] eusdougc commented on #54
This issue was addressed by pull request #127.  A new detailed Keras model conversion example (Import_Keras_LeNet.ipynb) can be found under python-dlpy/examples/keras_model_conversion

[2019-05-02 21:28] danielecazzari opened #134 "ImageTable.load_files does not work"
I run Viya 3.4 and I am facing some issue with ImageTable.load_files function on version 1.0.2
Version 1.0.1 works fine.

I use ImageTable.load_files with the following parameter to load images stored in 2 subdirectory under modelPath+'images'
my_images = ImageTable.load_files(conn, path=modelPath+'images',casout=dict(name='my_images',caslib='Happy'))

The function does not return any error after

[2019-05-02 21:37] sasxianhu commented on #134
Can you try to use the latest version by git clone?
Is the happy caslib valid for you to write?
the path should be accessible to your CAS server.

[2019-05-03 09:20] ethem-kinginthenorth commented on #134
I am assuming the caslib happy's path and the path that you passed are in the same location, right?

[2019-05-03 09:38] danielecazzari commented on #134
modelPath variable is the path of caslib happy, so yes the pictures that I'm trying to load are in the same location under a subdirectory called images.
My user has all the permission to the modelPath directory, moreover the same script with version 1.0.1 works and with 1.0.2 not (without any other changes).

[2019-05-06 04:17] ethem-kinginthenorth commented on #134
I believe I know what is happening. Dlpy aims at hiding caslib so that a user does not need to worry about it. In your case, you are handling it and it is kind of changing things. I will investigate your scenario in detail. I think when you create the caslib, I am assuming you are making it active, then load the files, and the call drop the caslib and your tables are gone.

That said, you can do t

[2019-05-06 11:28] pkaczynski opened #135 "Locale problem on multi platform setting"
There is an issue in `create_object_detection_table` when using CAS server with different locale than  the client. TXT files are loaded using client locale even when data resides on the serever.

[This line](https://github.com/sassoftware/python-dlpy/blob/590141d64fc3933fd8d053731bc63cb867e7965f/dlpy/utils.py#L1246) loads the data as varchar, even if the contents are numbers with a dot as a decima

[2019-05-07 03:54] ethem-kinginthenorth commented on #135
@wenyushi can you please take a look at this.

[2019-05-07 14:02] wenyushi commented on #135
Sure, I will look into it.

[2019-05-07 14:58] danielecazzari commented on #134
Yes correct I'm creating the caslib and make it active. About your suggestion I'm not sure about step 1 since I believe to do already what you are suggesting:
my_images = ImageTable.load_files(conn, path=modelPath+'images',casout=dict(name='my_images',caslib='Happy'))
The ImageTable.load_files includes the active caslib named Happy (caslib='Happy') and the caslib modelPath. Did I miss something?
A

[2019-05-07 15:17] turanbul opened #136 "onnx export error"
Hello,

I am facing the following error when deploying a VGG16 model with onnx format.

SWATError: Expecting value: line 1 column 1 (char 0) in the attached file.

The code and the error starts at line 318
[onnx error.txt](https://github.com/sassoftware/python-dlpy/files/3153316/onnx.error.txt)

[2019-05-07 16:16] yg2288 commented on #136
Thanks for the info, I am looking into this error.

[2019-05-07 18:59] yg2288 commented on #136
@turanbul I am trying to reproduce the error - could you list your dlpy, onnx, and swat versions?

[2019-05-08 08:08] turanbul commented on #136
print(onnx.__version__, swat.__version__, dlpy.__version__)
1.5.0 1.5.0 1.0.1

[2019-05-08 18:22] yg2288 commented on #136
Hi @turanbul, I ran a workflow similar to your code with the versions above, and unfortunately I was not able to reproduce the error.  I saw the `JSONDecodeError` in the traceback and noticed you are using the REST connection to CAS; just curious have you tried the binary connection and still get this error?  Lastly, could you try loading the weights from file, and see if the same issue persists?

[2019-05-15 19:38] User1542 opened #138 "Attempting to create multipath network"
The following is giving me an error I don’t know how to resolve. Any ideas?

inLayer = Input(n_channels = 3,width=32, height=128, offsets=myimage.channel_means,
                      name='input1', random_mutation='random', random_flip='HV')
conv1 = Conv2d(32, 3, 3, name='conv1', act='relu', init='msra')([inLayer])
conv2 = Conv2d(32, 5, 5, name='conv2', act='relu', init='msra')([inLayer])
fc1 = De

[2019-05-15 20:44] wenyushi commented on #138
Each tensor will be assigned a shape based on its source layer(s). In the case, the shape of tensor 'res' is derived from the output size of dense layers. Res layer can only receive 3 dimension tensor inputs while Dense layer outputs 1-d tensor. So, the error line cannot find second and third dimension, I will fix the issue in my next push. Thanks.

[2019-05-21 13:05] #138 closed

[2019-05-21 15:06] carolinepotts opened #140 "Loading pre-trained model from .sashdat table file error"
I am trying to load a model from a .sashdat table file using the following lines of code:

model5 = Model(sess)
model_file = '/disk/linux/dlpy/vgg16.sashdat'
model5.load(path=model_file)

I am getting the following error:
![image](https://user-images.githubusercontent.com/29736845/58107500-f91a6900-7bb7-11e9-8f61-6223fad15dc0.png)

I recently installed dlpy using pip.

[2019-05-21 18:19] ethem-kinginthenorth commented on #140
@wenyushi would you please take a look at this. Thanks

[2019-05-21 18:22] wenyushi commented on #140
@carolinepotts Would you mind sharing the sashdat or the script that generates the model? Thanks.

[2019-05-21 19:00] carolinepotts commented on #140
@wenyushi It is actually one of the example notebooks - the one called A_Comprehensive_Image_Classification_Example in the quick_start folder

[2019-05-21 19:05] ethem-kinginthenorth commented on #93
I am closing this one up due to inactivity. Please do open it back if you need to

[2019-05-21 19:05] #93 closed

[2019-05-21 19:09] ethem-kinginthenorth commented on #94
closing this issue due to inactivity, please do open it back if you have more questions

[2019-05-21 19:09] #94 closed

[2019-05-21 19:10] ethem-kinginthenorth commented on #117
@eusdougc can we close this issue? thanks

[2019-05-21 19:10] ethem-kinginthenorth commented on #126
@haghad can we close this issue? do you have any further questions?

[2019-05-21 19:11] ethem-kinginthenorth commented on #135
@wenyushi any update on this ? thanks

[2019-05-21 19:11] ethem-kinginthenorth commented on #136
@yg2288 and @turanbul have you guys agreed on a solution?

[2019-05-22 03:57] wenyushi commented on #140
After vb015, we add padding_width, height, top and left as properties in the convolution and pooling layer. The model in the test case was generated before the change. Anyway, in order to be compatible with old Viya release, I will push a fix to check the existing of the properties.

[2019-05-22 04:02] wenyushi commented on #135
I am not very familiar with the locale problem, and I am wondering if we are able to specify the locale of a session. Need more time to fix it.

[2019-05-22 11:03] eusdougc commented on #117
@ethem-kinginthenorth - yes, please close this issue.  I thought I used the right key words with my pull request to automatically close the issue, but apparently not.

[2019-05-22 11:05] #117 closed

[2019-05-22 12:13] ethem-kinginthenorth commented on #135
I am tagging this as future / feature request to see if we have any cycle to address this

[2019-05-22 17:36] carolinepotts opened #141 "Unittest test_imagescaler1 error with onnx 1.5.0"
The unittest test_imagescaler1 gives an error (OnnxParseError: Unable to determine the number of neurons in FC layer) when onnx 1.5.0 is used.

When onnx 1.4.1 is used, the test passes.

[2019-05-22 17:38] ethem-kinginthenorth commented on #141
@yg2288 could you please take a look at this issue. Seems like something is not working with a version change.

[2019-05-23 03:09] ang-zy opened #143 "Label files not properly parsed when using different OSes"
I'm using a Windows client with a Linux CAS server. Images are stored on the server, while labels are stored on the client machine. Labels and images are also stored in different directory structures (Images in `VOC2012/Images` and labels in `VOC2012/Annotations`). When I run `dlpy.utils.create_object_detection_table`, I get a `DLPyError: Can not find any xml file under data_path` (Stack trace inc

[2019-05-23 13:01] yg2288 commented on #141
Thanks - I'm looking into this issue.

[2019-05-23 13:06] wenyushi commented on #143
Hi, local_path and data_path should point to the same location and data_path specifies a location where annotation files and image files are stored. The XML files will be parsed on your client side and stored in TXT format in the same directory which can also be accessed by your server. In your case, you mentioned that you have different directories for label and image. Please put them in the same

[2019-05-23 15:46] ethem-kinginthenorth commented on #126
@haghad closing the issue. if you have any further questions, please open a new one, or re-open this one. thanks

[2019-05-23 15:46] #126 closed

[2019-05-23 15:47] ethem-kinginthenorth commented on #134
@danielecazzari could you please download the latest copy from git (e.g., git clone) and try against that version. I believe the current version (not the latest release) would resolve this issue. Thanks

[2019-05-24 01:18] ang-zy commented on #143
So for this function to work, both annotation and image files must be stored in a single directory, and this directory must be accessible by both server and client machines?

[2019-05-24 18:51] wenyushi commented on #143
Correct.

[2019-05-27 06:17] yg2288 commented on #141
This error occurs because ImageScaler was removed in ONNX 1.5.0.  It was an experimental operator in earlier versions, and the latest version removed all experimental ops. I will open a pull request to fix this issue.

[2019-05-29 08:48] danielecazzari commented on #134
Yes with the 1.0.3-dev the issue is fixed. Thanks a lot

[2019-05-29 10:52] #134 closed

[2019-05-29 16:53] ethem-kinginthenorth commented on #141
@yg2288 how we doing on this issue? thanks

[2019-05-30 12:58] #141 closed

[2019-06-03 07:53] #143 closed

[2019-06-03 08:48] ang-zy opened #156 "Model.train fails on object columns with different raw lengths"
# Setup
1. Run `dlpy.utils.create_object_detection_table()` on the VOC2012 data set
2. Split table using `dlpy.splitting.two_way_split()`
3. Instantiate a YOLOv2 model instance using `dlpy.applications.Tiny_YoloV2()`
4. Train the model witth the training table using `model.fit()`

# Error Log:
[code]

# Preliminary findings:
When we checked the table in Data Explorer, we realized that the first 27

[2019-06-03 11:10] sasxianhu commented on #156
This is the design. You have to use the same meta data information for your columns. You can easily redefine the format using the format option in the table parms.

[2019-06-03 11:10] #156 closed

[2019-06-13 13:10] sasxianhu opened #159 "need improve the error from create_object_detection_table"
if rt.severity > 1:
                    print('Something went wrong. Most likely, one of the subpaths of the provided path'
                          'is part of an existing caslib. A workaround is to put the file under that subpath or'
                          'move to a different location. It sounds and is inconvenient but it is to protect '
                          'your privacy granted by yo

[2019-07-01 17:16] ethem-kinginthenorth commented on #140
@wenyushi I believe this is resolved, right? are we ready to close this issue?

[2019-07-01 17:17] ethem-kinginthenorth commented on #136
I am closing this issue. Please do re-open if needed. Thanks

[2019-07-01 17:17] #136 closed

[2019-07-01 17:18] ethem-kinginthenorth commented on #37
@wenyushi with the latest push, are we addressing this issue?

[2019-07-01 17:18] wenyushi commented on #140
Yes, please close it.

[2019-07-01 17:20] ethem-kinginthenorth commented on #27
We haven't added the face dertection API but we added general object detection APIs along with a pre-trained weights for face detection (see http://support.sas.com/documentation/prod-p/vdmml/zip/index.html).

[2019-07-01 17:20] #27 closed

[2019-07-01 17:20] #140 closed

[2019-07-01 17:20] wenyushi commented on #37
Yes, we support global average pooling. More global pooling will be added later.

[2019-07-09 16:52] Mespith commented on #120
Is this issue really fixed because I have the same problem.
Python 3.6.8
swat 1.5.1
dlpy 1.0.2

Viya is running in a virtual machine, Linux based, redhat, not a shared file system with the environment where I run python. Python is running on Ubuntu. When I first run
`model = dlpy.Model.from_caffe_model(sess, '/mnt/c/Users/SNLJDK/Caffe/pose_deploy.prototxt', output_model_table=dict(name="body_25",

[2019-07-09 16:58] ethem-kinginthenorth commented on #120
I haven't done a release yet, I am assuming that;s why you are still getting the issue. We will be doing one soon or alternatively, you can clone the latest version from here and use that dlpy to get this change. thanks

[2019-07-09 17:03] Mespith opened #163 "NameError: name 'bias_term' is not defined"
I'm trying to import the open pose Caffe model to SAS. I have the .prototxt and .caffemodel files so I should be able to use the dlpy.Model.from_caffe_model to create a .hdf5 file, right?

Python 3.6.8
swat 1.5.1
dlpy 1.0.2

After I apply the workaround described in #120 and run the line below I get an error.
`model = dlpy.Model.from_caffe_model(sess, '/mnt/c/Users/SNLJDK/Caffe/pose_deploy.prototx

[2019-07-09 17:44] eusdougc commented on #163
@Mespith: as @ethem-kinginthenorth noted on #120, there has not been an official release of DLPy that includes a number of fixes for Caffe model conversion.  Please try cloning the repository to pick up these changes and try again.  If you still have problems, please post a link to the prototxt file and caffemodel file you are using.

[2019-07-10 08:30] Mespith commented on #163
Thank you @eusdougc  and @ethem-kinginthenorth I've cloned the repository and am using sas-dlpy-1.0.3.dev0 and the mentioned problems are indeed gone. I do get another error now which I hope you can help me with as well.

This is the link to the .prototxt file I'm using:
https://github.com/CMU-Perceptual-Computing-Lab/openpose/tree/master/models/pose/body_25

The .caffemodel file I got by running

[2019-07-10 08:33] Mespith commented on #120
That helped! Thank you :)

[2019-07-10 08:38] sasxianhu commented on #163
Note not all of the layers from Caffe can be supported by SAS and vice versa.

Best,
XQ

On Jul 10, 2019, at 4:30 PM, Jaimy <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

Thank you @eusdougc<https://github.com/eusdougc> and @ethem-kinginthenorth<https://github.com/ethem-kinginthenorth> I've cloned the repository and am using sas-dlpy-1.0.3.dev0 and the mentioned prob

[2019-07-10 08:56] Mespith commented on #163
Ah yes, I was afraid of this. I wonder which layer it is then. Maybe the PReLU activation in the convolution layer?

[2019-07-10 11:31] eusdougc commented on #163
The problem you are currently having is due to the input definition in the prototxt file.  If you replace

input: "image"
input_dim: 1 # This value will be defined at runtime
input_dim: 3
input_dim: 16 # This value will be defined at runtime
input_dim: 16 # This value will be defined at runtime

with something like this

layer {
  name: "image"
  type: "MemoryData"
  top: "image"
  memory_data_par

[2019-07-10 13:51] Mespith commented on #163
Thank you for the input definition help. I still think there is a problem there:

F0710 14:45:57.140903   143 layer.hpp:364] Check failed: ExactNumTopBlobs() == top.size() (2 vs. 1) MemoryData Layer produces 2 top blob(s) as output.

[2019-07-10 13:59] eusdougc commented on #163
You are correct, I missed a line:

layer {
name: "image"
type: "MemoryData"
top: "image"
**top: "label"**
memory_data_param {
batch_size: 10 # this should be the batch size you want
channels: 3
height: 16 # this should be the actual height of the images you are using
width: 16 # this should be the actual width of the images you are using
}
}

[2019-07-10 14:00] Mespith commented on #163
Yes indeed. It works with that extra line! I get an error saying that the prelu is not known:

Unknown Caffe activation function = prelu
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/jaimy/anaconda3/envs/caffepy/lib/python3.6/site-packages/dlpy/network.py", line 416, in from_caffe_model
    exec(output_code)
TypeError: exec() arg 1 must be a string, bytes o

[2019-07-10 14:03] ethem-kinginthenorth commented on #163
You can also replace prelu with something else.
Is that that crucial for the model?
Thanks
Ethem

From: Jaimy <notifications@github.com>
Sent: Wednesday, July 10, 2019 10:00 AM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Ethem Can <Ethem.Can@sas.com>; Mention <mention@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] NameError: name 'bias_term' is not defined (#163)

[2019-07-10 14:03] ethem-kinginthenorth commented on #163
You can also replace prelu with something else.
Is that that crucial for the model?

[2019-07-10 14:07] Mespith commented on #163
I don't really know. Can you easily swap PReLU with something else? I understand that it's like Leaky ReLU but with a parameter that indicates the "leakiness". This parameter will be stored in the .caffemodel file, right? Would it still work? Worth checking out I guess

[2019-07-10 14:16] Mespith commented on #163
So, I tried replacing all PReLU activations with ReLU. But I think the parameters that should be used by the PReLU function are causing the following error:

F0710 15:14:48.002986   303 net.cpp:750] Check failed: target_blobs.size() == source_layer.blobs_size() (0 vs. 1) Incompatible number of blobs for layer prelu4_2

[2019-07-10 14:26] sasxianhu commented on #163
I don’t think PRELU will work. We actually support leaky RELU but the parameter is fixed. It might work if the learned parameter is close to 0.01.

Best,
XQ

On Jul 10, 2019, at 10:16 PM, Jaimy <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

So, I tried replacing all PReLU activations with ReLU. But I think the parameters that should be used by the PReLU function are

[2019-07-10 14:27] Mespith commented on #163
Yeah but even then. If you set the parameter of the Leaky ReLU then it will still try to but the parameter in the .caffemodel file somewhere where it doesn't fit.

[2019-07-17 09:14] Kaynelua opened #168 "sashdat data for segmentation example"
Hello, is it possible to provide a link to the sashdat file used in the segmentation example, i.e "soccer_player/sgf_256.sashdat". Would like to test out the segmentation example.

Thank you!

[2019-07-18 15:21] joyozhang opened #169 "Error after updated to v1.1.0"
model.fit(data='train_bind', optimizer=optimizer, force_equal_padding = True, record_seed = 13309,data_specs=data_specs,
          seed=13309, n_threads=5)
--------------------------------------------------------------------------------------------------------
NOTE: Training based on existing weights.
---------------------------------------------------------------------------
JSONDecodeError

[2019-07-18 15:22] joyozhang opened #170 "Error after updated to v1.1.0"
model = Model.from_onnx_model(sess,
                               onnx_model=onnx_model,
                               output_model_table='tiny_yolov2',
                               scale=1/255.,
                               output_layer=output_layer)
--------------------------------------------------------------
---------------------------------------------------------------------------
Onn

[2019-07-18 15:26] ethem-kinginthenorth commented on #170
This is due to a change in onnx. I believe we made this change to cover that change. can you check your onnx version?

[2019-07-18 15:58] joyozhang commented on #170
the onnx version is 1.5.0
---------------------------------------------------------------
onnx in /opt/sas/python/lib/python3.7/site-packages (1.5.0)

[2019-07-18 16:28] ethem-kinginthenorth commented on #170
@yg2288 could you please take a look at this issue?

[2019-07-18 16:41] ethem-kinginthenorth commented on #169
seems like connection is crashing. I dont think this is related with version upgrade. that said, a little bit more information would be great. I will follow up with you to see if we can get more data to debug the issue

[2019-07-18 18:46] ethem-kinginthenorth commented on #169
can you please set "swat.options.cas.debug.responses = True" on top of your notebook and share the debug notes printed after the call you are getting the error. This statement should enable the debugging and let us know all the parameters sent to the server. In this way, we can analyze it further. thanks

[2019-07-18 18:56] sasxianhu commented on #169
If you use the REST way to connect CAS, you have to git clone swat.

[2019-07-19 06:55] joyozhang commented on #169
@ethem-kinginthenorth
Thank you for the help. I have tried the debug option you provided. hope this log works for you guys.
---------------------------------------------------------------------
{
  "status": 0,
  "log": "",
  "results":   {
        "ColumnInfo":
          {
            "_ctb": true,
            "label": "",
            "title": "Column Information for TRAIN_CZ3 in Caslib CASUSER(s

[2019-07-19 06:56] joyozhang commented on #169
@sasxianhu
Do you mean install swat from git and import it?
I had a try and got same Error.

[2019-07-19 14:10] sasxianhu commented on #169
In your error, does it report the swat path you created for git clone?

[2019-07-19 14:57] ethem-kinginthenorth commented on #61
we added more pre-defined weights to here: http://support.sas.com/documentation/prod-p/vdmml/zip/index.html

[2019-07-19 14:57] #61 closed

[2019-07-19 14:58] #54 closed

[2019-07-19 14:58] #37 closed

[2019-07-19 15:00] ethem-kinginthenorth commented on #28
@wenyushi we now these layers when we are extracting a model, right?

[2019-07-19 15:02] ethem-kinginthenorth commented on #16
this is added.

[2019-07-19 15:02] #16 closed

[2019-07-19 15:46] danielecazzari opened #171 "ResNet50_Caffe API load with error: Parameter 'gpuModel' is not recognized."
After updating to version 1.1.0 if I try to load the RestNet50 with this command:

model_R50 = ResNet50_Caffe(s, n_channels=3, random_flip='HV',
                       pre_trained_weights_file=modelPath+'ResNet-50-model.caffemodel.h5',
                       pre_trained_weights=True,
                       offsets=tr_img.channel_means,
                       include_top=False, n_classes=2, random_

[2019-07-19 16:44] ethem-kinginthenorth commented on #171
@eusdougc would you please take a look at this. thanks

[2019-07-19 17:40] wenyushi commented on #28
yes.

[2019-07-19 17:40] #28 closed

[2019-07-19 17:41] ethem-kinginthenorth commented on #30
I believe we now support fcmp layer - so closing.

[2019-07-19 17:41] #30 closed

[2019-07-19 17:42] ethem-kinginthenorth commented on #163
I believe we do not support prelu in the server side, @sasxianhu can you please confirm this?

[2019-07-19 17:43] ethem-kinginthenorth commented on #91
this should have been fixed with the new vdmml release. I am closing this issue and please re-open it if it happens with the newest vdmml release. thanks

[2019-07-19 17:43] #91 closed

[2019-07-19 17:46] ethem-kinginthenorth commented on #62
@wenyushi we havent done anything on this, right?

[2019-07-19 17:48] wenyushi commented on #62
Yes, we are still working on it.

[2019-07-19 17:49] ethem-kinginthenorth commented on #62
@wenyushi thanks.

[2019-07-19 18:17] kesmit13 commented on #169
Unfortunately, I don't think we're going to be able to see anything from this JSON output because it looks like the result from the server is empty.  So it may be printing it here, but there is nothing to see.  Do you have any server logs that might show what happened when the action was running?

[2019-07-19 18:17] ethem-kinginthenorth commented on #168
I added a small version of the example (I didn't want to make this project giant) here: tests/datasources/sgf_256_small.sashdat). It is the same file with less number of samples.

[2019-07-19 18:17] #168 closed

[2019-07-19 18:44] sasxianhu commented on #163
We don’t support prelu only leaky relu.

Best,
XQ

On Jul 19, 2019, at 1:42 PM, ethem-kinginthenorth <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I believe we do not support prelu in the server side, @sasxianhu<https://github.com/sasxianhu> can you please confirm this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2019-07-19 18:51] ethem-kinginthenorth commented on #163
thanks @sasxianhu , then we cannot really import this model that has the prelu.

[2019-07-19 19:54] eusdougc commented on #171
@danielecazzari - what version of Viya are you using?  The parameter _gpuModel_ was introduced in the most recent version of Viya.

[2019-07-19 20:10] danielecazzari commented on #171
I'm using the latest shipment viya 3.4 and vdmml 8.4

[2019-07-19 20:21] eusdougc commented on #171
Just to be clear, you have the version of Viya released late May/early June of this year?  I ask because I believe the Viya version number has not changed for the last two releases.  The error you are seeing would occur if you are not running the Viya version released about a month ago.

[2019-07-19 20:41] danielecazzari commented on #171
I update the license to shipment event 19w21 and I did last repository update + yum update on beginning of June. To get latest version you mention should I perform an additional yum update or request a new license for another shipment event?

[2019-07-19 21:22] eusdougc commented on #171
That should be the correct code base.  I will see if I can reproduce the error you are seeing.

[2019-07-20 01:38] yg2288 commented on #170
I will update the onnx models which should resolve this - it has some ops that are deprecated in the latest version.  Btw, if you re-export the onnx model using the latest version of dlpy, it should work since we removed ImageScaler recently.

[2019-07-20 21:59] eusdougc commented on #171
I can reproduce the problem and I have a fix for this issue.  We will have to do some testing and validation before we release it.  I will let you know when you can clone the repo to pick up the fix.

[2019-07-22 07:18] joyozhang commented on #170
@yg2288 Thanks.

[2019-07-22 07:20] joyozhang commented on #169
@kesmit13 , Could you please let me know which log I should take?
The error seems to happen when use the large epoch to training (some case that taking a long time to train).

[2019-07-22 10:02] sasxianhu commented on #169
The CAS server log.

[2019-07-22 14:10] ethem-kinginthenorth commented on #171
@danielecazzari : thanks to @eusdougc , a fix has been pushed for this issue. Please do clone a local copy of dlpy and add that local location to your pythonpath. This would resolve the issue. Please let us know if there is any issues. thanks

[2019-07-22 19:05] danielecazzari commented on #171
Thanks @ethem-kinginthenorth and @eusdougc, the fix is currently working and I was able to successfully train the model.

I'm closing the issue.

[2019-07-22 19:05] #171 closed

[2019-07-23 14:14] ethem-kinginthenorth commented on #170
@joyozhang have you tried what @yg2288 suggests 're-export the onnx model using the latest version of dlpy'? thanks

[2019-07-24 01:14] Kaynelua commented on #168
Thanks @ethem-kinginthenorth, will it be also be possible to provide a guide on how the sashdat should be constructed / formatted ? We are interns from SAS trying to implement segmentation on other applications. Thanks!

[2019-07-24 02:14] dxq77dxq commented on #168
The easiest way would be to use ImageTable.load_files() to load both the raw images and ground truth images to two sashdat, and then use dljoin() to combine them into one using a unique id (for example, file name).

[2019-07-24 10:46] MasayukiNishii opened #173 "Where can I get pre-trained model of Faster-rcnn?"
In the example code below about object detection of faster-rcnn, I want to follow up the operation.
https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/FasterRCNN_Example.ipynb

Would you tell me from where can I download the pre-trained information like below to build and run faster-rcnn?
'rcnn_trainSetJoined_Yolo_496_fromRSZ.sashdat'
'VGG16_RCNN_Weights_YOLOWithLabel

[2019-07-24 13:01] ethem-kinginthenorth commented on #173
It is quite large therefore, we haven't shared it. Let me check a couple of folks to see what is the best way to share such large files.

[2019-07-24 20:37] xiaozhuoc opened #174 "Error loading an RNN model"
model = Model(s)
model.load("/cas/DeepLearn/dlpy/test/datasources/sample_acoustic_model.sashdat")

It tells me that:
NOTE: Model table is loaded successfully!
NOTE: Model is renamed to "asr" according to the model name in the table.
Traceback (most recent call last):
  File "U:/projects/python-dlpy/dlpy/speech.py", line 434, in <module>
    model.load("/cas/DeepLearn/dlpy/test/datasources/sample_a

[2019-07-24 20:55] sasxianhu opened #175 "one example to show how to prepare the data for segmenation"
Maggie will work on this.

[2019-07-25 12:46] ethem-kinginthenorth commented on #174
@xiaozhuoc  I believe I fixed this recently. Do you mind doing a git clone and add that to your pythonpath to get the latest changes? Thanks

[2019-07-26 13:29] ethem-kinginthenorth commented on #174
@xiaozhuoc any chance have you tried the work around?

[2019-07-26 13:31] ethem-kinginthenorth commented on #170
@joyozhang wondering if there is any update on this?

[2019-07-26 13:32] ethem-kinginthenorth commented on #169
@joyozhang @kesmit13 wondering if there is any update on this issue?

[2019-07-26 13:33] ethem-kinginthenorth commented on #163
@Mespith I am assuming there is not much we can fix through DLPy for this specific case. Is it OK to close this issue?

[2019-07-26 13:54] xiaozhuoc commented on #174
Clone the latest version and it works now.

[2019-07-26 13:54] #174 closed

[2019-07-29 15:05] ethem-kinginthenorth commented on #163
@Mespith I am closing this issue, please feel free to re-open or open another one if you have any further questions. Thanks

[2019-07-29 15:05] #163 closed

[2019-07-31 07:32] 9to5routine opened #177 "Speech Recognition - Audio Training Dataset"
Hi, is it possible to share the dataset used in AudioTraining.ipynb? I've been trying to replicate the example using my own small audio dataset but have been unsuccessful so far.

![image](https://user-images.githubusercontent.com/40623224/62192120-99a2bb80-b3a7-11e9-9b14-cbd82bd92c6c.png)

The code above shows a snapshot from the AudioTraining.ipynb example. From the example, seems like both the

[2019-07-31 12:43] ethem-kinginthenorth commented on #177
it is here: https://github.com/sassoftware/python-dlpy/tree/master/dlpy/tests/datasources

I think there is a confusion - we might need a better paths, let me explain:
 the ground truth has to be in the client as we are doing some pre-processing on that file and then sending it to the server. If your client and the server are the same os and have similar access to folders, this works just fine. As

[2019-08-01 01:19] #177 closed

[2019-08-01 09:44] 9to5routine opened #179 "Speech Recognition - Audio Training Issue"
Hi, I am trying to replicate the AudioTraining.ipynb example on my end, with windows as my client side OS and linux as my server side OS.

Extracting my audio features ran successfully, as shown below. The path to my first audio file was recorded as "/home/sasdemo/STT1/84-121123-0000.wav"

![image](https://user-images.githubusercontent.com/40623224/62282564-59643b80-b482-11e9-9f70-475d85cdb6fd.png

[2019-08-01 12:59] ethem-kinginthenorth commented on #179
When we have this case, we try to get file two separators: 1) for os of the client and 2) for os of the server. It seems like in this case, we used the client fs in the server side. I will look into this issue. Maybe joining with filenames would be a better idea than the full path. Thanks for pointing out. I will keep this issue updated.

[2019-08-01 14:39] ethem-kinginthenorth commented on #179
I did some changes with a recent push and updated the example. If you do a git-clone and use the most recent version, you should be able to have a fixed dlpy for your issue. thanks

[2019-08-02 14:44] ethem-kinginthenorth commented on #179
@9to5routine I am wondering if you had any time to check the fix? thanks

[2019-08-02 18:25] #175 closed

[2019-08-02 18:25] #159 closed

[2019-08-03 06:14] 9to5routine commented on #179
Yes, the file separator issue has been resolved; thanks so much for the help!

[2019-08-03 06:14] #179 closed

[2019-08-04 14:36] joyozhang commented on #169
I made some changes to my code to use gpu, and the error was disappeared.
For now I can't reproduce the error. I'll let you know if same error happens again.

[2019-08-04 14:40] joyozhang commented on #170
Thanks guys, That works for me.

[2019-08-05 13:40] ethem-kinginthenorth commented on #170
Closing the issue. Please feel free to open a new one if you have further questions. thanks

[2019-08-05 13:40] #170 closed

[2019-08-05 13:40] ethem-kinginthenorth commented on #169
thanks. I am closing the issue for now and please feel free to re-open this or a new one when you have further issues. thanks

[2019-08-05 13:40] #169 closed

[2019-08-05 13:43] sasxianhu commented on #25
dataSpecs is supported now. Close this.

[2019-08-05 13:43] #25 closed

[2019-08-06 20:29] DevPhelps opened #181 "No Error When Using Wrong Platform Path For AudioTable.load_audio_files()"
Good afternoon.

If you attempt to call AudioTable.load_audio_files() with a Windows path, but have the server be Linux based (or vice versa), you get no feedback whatsoever.  This is because the logic is checking for forward slashes on Linux and backward slashes on Windows and if it doesn’t split on these, the function [returns None](https://github.com/sassoftware/python-dlpy/blob/master/dlpy/aud

[2019-08-06 20:31] ethem-kinginthenorth commented on #181
I am adding a message. the current design assumes that the path is accessible by the CAS server. Adding a warning message.

[2019-08-06 20:32] #181 closed

[2019-08-08 05:59] chungdz opened #184 "How can I build an anto-encoder for image?"
Dear all,
We now use keras to build an auto-encoder with code:
[code]

We want to use the layer "encoded" to encode the image as a vector for next analysis.
Is there any way to build a model like this in dlpy?
Thank you

[2019-08-08 11:13] sasxianhu commented on #184
Yes, check UNet in https://github.com/sassoftware/python-dlpy/blob/master/dlpy/applications.py.
Use Conv2DTranspose for upsampling.
Use data layer in dataSpecs to specify the output segmentation layer same as the input layer.
use layer_out to extract the features when you finish training.

[2019-08-08 13:24] ethem-kinginthenorth commented on #184
@chungdz feel free to share your auto-encoder with us, I would be very happy put that in the examples. thanks

[2019-08-09 02:53] MasayukiNishii commented on #173
Thank you for informing path to relating materials.

[2019-08-09 02:53] #173 closed

[2019-08-09 03:22] chungdz commented on #184
I met a confusing problem when trying to build the auto_encoder:
[code]
The response is like:
![image](https://user-images.githubusercontent.com/24776624/62751230-807bc800-ba95-11e9-9f46-3feb83ed1f9d.png)

And there's a similar problem when I tried to build the UNet in the dlpy.applications:
`unet = UNet(conn)`

![image](https://user-images.githubusercontent.com/24776624/62751351-f8e28900-ba95-11e

[2019-08-09 03:24] sasxianhu commented on #184
You have to have VDMML 8.4.

[2019-08-12 10:10] chungdz commented on #184
I now successfully build an auto-encoder like this:

[code]

but when I try to fit the model using the code

[code]
I got this error message:

I don't know how to specify DataSpecs, and I have not found any example. Please help.

[2019-08-12 12:53] ethem-kinginthenorth commented on #184
@chungdz please look at the examples:
- https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/FasterRCNN_Example.ipynb [cell 31]
- https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/SimpleObjectDetection.ipynb [cell11]
- https://github.com/sassoftware/python-dlpy/blob/master/examples/segmentation/semantic_segmentation.ipynb [cell13]

 hope t

[2019-08-13 02:59] chungdz commented on #184
As the auto-encoder has the same input and output, I originally set the DataSpec like this

[code]
When I tried to fit the model, I got this message:

So I tried to copy the column '\_image\_' in the table. As I didn't find direct methods to copy columns, I thought I could firstly copy the table and then merge two tables, to get two same columns.

[code]

And I got this error message:

I have chec

[2019-08-13 13:22] ethem-kinginthenorth commented on #184
![step1](https://user-images.githubusercontent.com/44275619/62944992-d5785080-bdab-11e9-8c0a-55ac3fa7a246.png)

[2019-08-13 13:22] ethem-kinginthenorth commented on #184
![step2](https://user-images.githubusercontent.com/44275619/62945000-da3d0480-bdab-11e9-847a-b06cca5392a6.png)

[2019-08-13 13:22] ethem-kinginthenorth commented on #184
hope these steps help. thanks

[2019-08-14 08:27] chungdz commented on #184
I have refered to answers and example of UNet and wrote the code. And I met the problem when trying to fit the model:
![image](https://user-images.githubusercontent.com/24776624/62993479-0333c700-be8a-11e9-8faf-c7ff226e2d26.png)

I wondered if it was because the pixel values in my picture was diverse, but the segmentation layer only expected limited pixel values, which it told me could not exceed

[2019-08-14 16:39] dxq77dxq commented on #184
If I understand it correctly, you're trying to build an image auto-encoder model to encode the image as a vector. In this case, we use dataLayer in dataSpecs as below:

[code]

In this way, we're specifying that the Segmentation1 layer uses the same same as in Input1. Hope this solves your problem and please let us know if you have further questions.

[2019-08-15 07:06] chungdz commented on #184
I completed the auto_encoder code and upload it in my github repositories:

https://github.com/chungdz/img/blob/master/auto_encoder.ipynb

Was I right about the approach to do the comparison between input and output?  When I checked the image, I found they were almost the same. So I doubted whether I fetched a right table.

![image](https://user-images.githubusercontent.com/24776624/63077544-39954

[2019-08-16 23:51] dxq77dxq commented on #184
The comparison looks reasonable to me, as the resulting fit error is small enough. I would also suggest using the following code to get image summaries for both _image_ and _image_output_.
`
conn.summarizeImages('merged_table', image = '_image_')
conn.summarizeImages('merged_table', image = '_image_output_')
`

[2019-08-20 14:52] pynyah opened #187 "word_embedding file in Image captioning"
Hi,
where can I find word_embedding.txt file in this repository?

Thanks

[2019-08-20 17:06] ice-sas commented on #187
Hi,
Any pre-trained word embedding would be fine. The one we used is a tab delimited embedding where the first column had the terms and the rest of the columns had word embeddings for those terms. Every row represents a single term.

[2019-08-21 06:06] pynyah opened #188 "Issues with Image captioning"
Hi,

I am getting the errors while generating the embeddings from object detection. Could you please suggest how it can be solved?

![imagecap1](https://user-images.githubusercontent.com/54321951/63406538-dd696d80-c407-11e9-9d66-c042c2e07b17.PNG)
![imagecap2](https://user-images.githubusercontent.com/54321951/63406547-e1958b00-c407-11e9-810d-5dc9f81290d6.PNG)

[2019-08-21 07:31] Kaynelua opened #189 "Model weights for Image Captioning example"
Hi, may i ask for a link to download the h5 file for VGG_16 model used in the Image Captioning example? I tried googling and only managed to get the binaryproto format file downloaded  from : http://www.robots.ox.ac.uk/~vgg/software/very_deep/caffe/VGG_ILSVRC_16_layers.caffemodel

Due to difference in format, loading of weights failed and i got the following error message :

NOTE: Model table is a

[2019-08-21 08:30] chungdz commented on #184
I complete the auto-encoder code, and share it in my repository. @ethem-kinginthenorth you have mentioned before that you might put it as an example :
https://github.com/chungdz/img/blob/master/auto_encoder.ipynb

I believe it's time to close this issue?

[2019-08-21 10:58] sasxianhu commented on #189
http://support.sas.com/documentation/prod-p/vdmml/zip/index.html

[2019-08-21 10:58] #189 closed

[2019-08-21 11:04] sasxianhu commented on #188
model_path = 'full_size_yolo_313_cls/multi_size_43ep/YOLOV2_MULTISIZE.sashdat'
detection_model = Model(conn)
detection_model.load(model_path)
NOTE: Model table is loaded successfully!
NOTE: Model is renamed to "yolov2_multisize" according to the model name in the table.
**NOTE: YOLOV2_MULTISIZE_weights.sashdat is used as model weigths.**
NOTE: Model weights attached successfully!
NOTE: YOLOV2_MULT

[2019-08-21 12:46] ethem-kinginthenorth commented on #184
could you please do a pull-request to the master branch, I will review it and then merge it. Thanks for your help. I am closing the issue.

[2019-08-21 12:46] #184 closed

[2019-08-21 16:09] dharmesh306 opened #190 "model.deploy() not display correct message"
When user specify wrong path to save model. The model deploy API not display correct message as following.

yolo_model.deploy(path="/foo/bar", output_format='astore')
NOTE: Model astore file saved successfully.

[2019-08-22 06:11] Kaynelua opened #192 "Issue with vectorizing detected objects using embeddings file"
Hi there,

I am having some issues with visuzalizing the vectorized detected objects. Running detected_objects.head() gives me a table looking like this :

![image](https://user-images.githubusercontent.com/26089562/63490239-ca799a80-c4e6-11e9-8ab3-69cd222deb3c.png)

The embeddings file i am using was downloaded from : http://nlp.stanford.edu/data/glove.6B.zip
I am using the 200dimension one but a

[2019-08-22 07:29] Kaynelua commented on #192
Realised that this may be due to the fact that the embeddings file downloaded isnt tab delimited and trying to visualize the WORD_EMBEDDINGS cas table gives a table looking like this :

![image](https://user-images.githubusercontent.com/26089562/63494993-8770f480-c4f1-11e9-94bd-50b86d35fae1.png)

which i am guessing isnt correct.

Perhaps you could provide a link to a tab delimited word_embedding

[2019-08-22 11:05] pynyah commented on #188
Thanks for that.

Which pretrained weight am I supposed to use here
![pic3](https://user-images.githubusercontent.com/54321951/63509893-e5560a00-c4fa-11e9-9b6c-d1fc3352ae39.PNG)

[2019-08-22 11:12] sasxianhu commented on #188
http://support.sas.com/documentation/prod-p/vdmml/zip/yolov2_multisize_313cls.zip

download this and put YOLOV2_MULTISIZE_weights.sashdat under the same directory as YOLOV2_MULTISIZE.sashdat.

[2019-08-22 13:06] ethem-kinginthenorth commented on #190
the path is supposed to be accessible by the client. We need a better message here. I will work on this.

[2019-08-23 03:20] Kaynelua opened #193 "Same predictions for every input image in Image Captioning Example"
Hi there,

I seem to get the same prediction for every input image as shown here :

![image](https://user-images.githubusercontent.com/26089562/63564402-82668080-c597-11e9-9058-eb3140f9f6fa.png)

I have ran the code pretty much similar to the example with exception of :
1. defining the object_width ,'object_width = 416' in create_captioning_table() as it appears it is no longer an expected keyword

[2019-08-23 19:17] buhrowcr opened #194 "Merging annotation table and image table ID data type and format issue"
Hello! I am using the dlpy API as well as CAS actions in a computer vision project. Me and my colleagues have correctly prepared the labeling data and have brought in the images into CAS using the code below.
![image](https://user-images.githubusercontent.com/54453057/63617663-0597ce80-c5b8-11e9-9db4-4ad5b62f7af7.png)
![image](https://user-images.githubusercontent.com/54453057/63617672-0df00980-c5

[2019-08-23 19:55] sasxianhu commented on #194
Try "$30.". I never use CHAR before. Pay attentions to formattedLength. It looks they still do not match.

[2019-08-23 19:57] sasxianhu commented on #193
did you retrain your model or just use the trained weights from the example? The model from the example is not good since it only uses a small number of images to show how to do captioning.

[2019-08-26 10:28] pynyah opened #195 "Create Captioning Table: Object width"
The function "createcaptioningtable" doesnt take the argument as objectwidth. It throws an error

[2019-08-26 11:33] pynyah opened #196 "Issue with image captioning example"
I am trying to execute the cell no 31 (as per the example), however I am facing the following issue
![pic4](https://user-images.githubusercontent.com/54321951/63687887-64ad4b80-c823-11e9-80be-8123059f3dc8.PNG)

[2019-08-26 11:41] sasxianhu commented on #196
This is the basic CAS question. You cannot access the absolute path under CAS. You have either copy your file to an existing caslib or create a new one that can access the file.

Best,
XQ

On Aug 26, 2019, at 7:33 AM, pynyah <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I am trying to execute the cell no 31 (as per the example), however I am facing the following iss

[2019-08-26 13:05] ethem-kinginthenorth commented on #196
@pynyah loadtable is a CAS action. In dlpy we try our best to give you all the convenient apis that would hide these absolute path relative path things. but in CAS actions you are on your own. please let us know if you need more questions. thanks

[2019-08-26 13:05] #196 closed

[2019-08-26 13:07] ethem-kinginthenorth commented on #195
@pynyah that is true, if you check the source code, you can see that create_captioning_table does not have a "object_width" argument/input. I am not sure what object_width parameter would be doing in anyways. thanks

[2019-08-26 13:08] ethem-kinginthenorth commented on #194
@buhrowcr have you tried what @sasxianhu suggested? thanks

[2019-08-26 13:09] ethem-kinginthenorth commented on #193
as @sasxianhu mentioned, we didn't provide pre-trained weights for the image captioning task. We just provided the framework and examples so that you can train your own. Please let us know if you have any further questions. thanks

[2019-08-26 13:12] ethem-kinginthenorth commented on #188
@pynyah did you try the link that @sasxianhu suggested?

[2019-08-28 02:20] Kaynelua commented on #193
Hi @ethem-kinginthenorth . I have managed to obtain different and better predictions by running on another server with less CPU cores and also training on more epochs.  Tried running the .fit() method with parameter 'gpu = True' but it throws an error saying that the rnn used is not supported.

[2019-08-28 03:03] Kaynelua commented on #193
@sasxianhu I see, thank you for letting me know (: !

[2019-08-28 13:05] eusdougc opened #197 "Inconsistent OSX treatment"
In the function get_cas_host_type(), we have the following condition:

elif ostype.startswith(‘OSX’):
    ostype = ‘mac’

However, when we call get_cas_host_type(), we check for the path separator (for example) like this:

server_type = get_cas_host_type(conn).lower()

if server_type.startswith("lin") or server_type.startswith("osx"):

It seems like we should either set

ostype=’osx’

in the funct

[2019-08-28 18:12] #190 closed

[2019-08-29 17:12] ngrajales1 opened #198 "Differences between SAS Documentation and DLPy Documentation"
I was wanting to know which method is recommend to load images using python. SAS documentation states the following:

https://go.documentation.sas.com/?docsetId=casactml&docsetTarget=casactml_loadimages_syntax.htm&docsetVersion=8.2&locale=en

DLPy documentation states the following:

 https://sassoftware.github.io/python-dlpy/generated/dlpy.images.ImageTable.load_files.html#dlpy.images.ImageTable.

[2019-08-29 17:22] sasxianhu commented on #198
Depends on your data. If load_files works well (it calls loadImages), just use it. If not, you can switch to loadImages with more options.

[2019-08-29 17:22] #198 closed

[2019-08-29 17:26] ngrajales1 commented on #198
Okay, thank you for your response. I assume that if I use loadImages then I need to specify a CasLib compared to using load_files which will create a temporary caslib if not specified

[2019-08-29 17:28] sasxianhu commented on #198
Yes. DLPy tries its best to hide caslib. If you use the action interfaces, you have to use caslib. :)

[2019-08-29 17:29] ethem-kinginthenorth commented on #198
Pretty much. DLPy drives SAS functionalities under the hood. DLPy tries make most of the operations easy while using default parameters with easy access. Also hiding CAS(SAS) specific terminology so that anyone can pick up and start using it.

[2019-08-30 09:13] vcerrato-pertica opened #200 "Problem with sas-dlpy fit method"
Hi,

recently we changed the directory installation of Jupyter, reinstalling Jupyter in another directory (disk space problems) and reinstalling all neccesary packages (I hope so).

The problem has come with the sas-dlpy fit method, other methods works perfectly (and code works on previous installation), but not now.

Attached error capture.
![error jupyter](https://user-images.githubusercontent.c

[2019-08-30 11:16] sasxianhu commented on #200
freezebatchnormstats is the new option shipped with VDMML 8.4. Can you check the version?

[2019-08-30 11:32] vcerrato-pertica commented on #200
This code works on the other Jupyter installation, which is on the same machine and the same software version.

I'm sorry, but I don't know how to check the specific version of that module.

[2019-08-30 11:49] sasxianhu commented on #200
Let us check the client package version first .

Can you do these?

swat.__version__
dlpy.__version__

Best,
XQ

On Aug 30, 2019, at 7:32 AM, vcerrato-pertica <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

This code works on the other Jupyter installation, which is on the same machine and the same software version.

I'm sorry, but I don't know how to check the specif

[2019-08-30 12:15] vcerrato-pertica commented on #200
SWAT Version: 1.5.1
DLPY Version: 1.1.0

[2019-08-30 12:18] sasxianhu commented on #200
Do you use the http protocol or binary protocol when connecting to CAS?

Best,
XQ

On Aug 30, 2019, at 8:15 AM, vcerrato-pertica <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

SWAT Version: 1.5.1
DLPY Version: 1.1.0

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://nam02.safelinks.protection.outlook.com/?url=http

[2019-08-30 12:24] vcerrato-pertica commented on #200
With the SWAT constructor method. I don't know what you mean by binary, but I would be sure it's http because it refers to the machine url and the connection port.

Thanks for your interest.

[2019-08-30 12:35] sasxianhu commented on #200
Can you show the line that connects to CAS?

Best,
XQ

On Aug 30, 2019, at 8:24 AM, vcerrato-pertica <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

With the SWAT constructor method. I don't know what you mean by binary, but I would be sure it's http because it refers to the machine url and the connection port.

Thanks for your interest.

—
You are receiving this beca

[2019-08-30 18:44] #197 closed

[2019-09-04 07:07] vcerrato-pertica commented on #200
Sorry for slow to respond, the connection is made like documentation explain:
`con = swat.CAS(host, port, userid, password)`

[2019-09-04 08:32] mdziec opened #201 "Import Tiny Yolo from ONNX with DLPy"
I wanted to import the model using the example DLPy_Import_ONNX_tinyYoloV2.ipynb, but following the line:
# Update attributes for weights
s.table.attribute (task = 'UPDATE', name = model1.model_weights.name, attrtable = 'yoloweightsAttr')

I get the error:
ERROR: The table tiny_yolov2_weights could not be located in caslib CASUSER (smartparking) of Cloud Analytic Services.
ERROR: The action stoppe

[2019-09-04 11:08] sasxianhu commented on #200
Do you use VDMML 8.3?

[2019-09-04 11:10] sasxianhu commented on #201
Did you load the weight like this?
model1.load_weights('/disk/linux/dlpy/tiny_yolov2_weights.onnxmodel.h5')

[2019-09-04 12:29] mdziec commented on #201
Thank you very much for your answer. I've already solved the problem.

From: sasxianhu <notifications@github.com>
Sent: Wednesday, September 4, 2019 1:11 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Mariusz Dzieciatko <Mariusz.Dzieciatko@sas.com>; Author <author@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Import Tiny Yolo from ONNX with DLPy (#201)

Did you lo

[2019-09-04 12:32] #201 closed

[2019-09-04 12:40] vcerrato-pertica commented on #200
cannot check the version, because I don't know how, but I think so

[2019-09-04 12:58] sasxianhu commented on #200
Unfortunately, you need use DLPy 1.0.x for VDMML 8.3.

You could use vercon from SAS to check the version if you know how to do it.

[2019-09-04 12:58] #200 closed

[2019-09-04 13:07] vcerrato-pertica commented on #200
So why does the same code work if I turn on the other instance of Jupyter by connecting to the same software version?

We will never know...

[2019-09-04 13:12] sasxianhu commented on #200
The error basically means the CAS server is 8.3 and does not accept the new options from 8.4.

It must be something different on your instances.

[2019-09-04 16:04] vcerrato-pertica commented on #200
I have to apologize because I have found the difference between the instances. In the sas-dlpy installation we directly use pip install sas-dlpy, without specifying the version. In the first instance, which has a few months, version 1.0.2 was installed, and in this one that was installed a few weeks ago, version 1.1.0 was installed. It has been just two months apart between the versions, but it ha

[2019-09-09 19:23] eusdougc opened #203 "User-defined label table function needs update"
When importing an open-source model, it is important for the label information provided by the user to match the target labels in the data set used for scoring/inference.  Currently, the function _get_user_defined_label_table()_ sets the size of the label as 200 characters by default.  This causes problems for speech recognition scenarios where the size of the target variables is a function of the

[2019-09-17 15:31] kybowm commented on #188
The link submitted by @sasxianhu is for the YOLO model weights, but I believe @pynyah's code snippet refers to weights for the RNN model.

To my knowledge, if you want to use pretrained weights for the RNN model, you must supply them yourself. You should, however, still be able to train the model from scratch starting in the "Train the model section"

[2019-09-17 15:39] kybowm opened #208 "ImageTable issue with backslash-based paths"
![Capture](https://user-images.githubusercontent.com/51750376/65057111-154ccd80-d940-11e9-8057-ccab250d6ffc.PNG)
The ImageTable.load_files method gets image name by parsing path for a forward slash. If a user submits a backslash-based path, the images will load correctly, but _filename_0 will be an empty string for all images.

[2019-09-18 21:40] ngrajales1 opened #211 "DLPy abd SAS VIya 3.3"
I recently observed an issue when trying to use DLPy and Viya 3.3 to read in images using load_files().

ERROR: Parameter 'caslib' is not recognized.
ERROR: Expecting one of the following: path, casOut, pathIsList, repeat, quiet, decode, recurse, labelLevels, distribution, addColumns, series, source, outputImages, outputImage, duplicate, silent, decompress.
ERROR: The action stopped due to errors.

[2019-09-18 21:54] sasxianhu commented on #211
We indeed document this on our home page.

DLPy | SAS Viya | VDMML
-- | -- | --
1.1.x | 3.4 | 8.4
1.0.x | 3.4 | 8.3

[2019-09-18 21:54] #211 closed

[2019-09-18 22:01] ngrajales1 commented on #211
Okay, Just wanted to throw it out there for any Viya 3.3 users. Thanks for the input.

[2019-09-18 22:05] sasxianhu commented on #211
Better update VDMML to the latest one since it has a lot of new features in terms of both traditional ML and DL.

Best,
XQ

On Sep 18, 2019, at 6:01 PM, Nelson Raymond Grajales <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

Okay, Just wanted to throw it out there for any Viya 3.3 users. Thanks for the input.

—
You are receiving this because you modified the open/clo

[2019-09-19 13:02] sasxianhu commented on #135
I am working on this.

[2019-09-20 12:54] #135 closed

[2019-09-20 14:20] #60 closed

[2019-09-20 17:45] ethem-kinginthenorth commented on #208
Yes, it looks like the legacy code does not pay attention to the os of the server. as the load_files calls an action that requires the images are accessible from the cas server. the image path has to be in the same format as the server's os. therefore, when we are creating the filename, we can use the separator rather than a fixed one. great catch. thanks

[2019-09-20 20:11] ethem-kinginthenorth commented on #208
Thanks @kybowm for finding this issue, I have a fix and about to push.

[2019-09-20 20:13] #208 closed

[2019-09-22 01:45] sasbsg opened #213 "ERROR: Parameter 'dataspecs[0].lossscalefactor' is not recognized."
When I define a data_specs and pass it into a Tiny_YoloV2 model, I get an error.

from dlpy.model import DataSpec
data_specs = [DataSpec(type_='IMAGE',
                      layer='Input1',
                      data=inputVars,
                      loss_scale_factor=1),
             DataSpec(type_='OBJECTDETECTION',
                     layer='Detection1',
                     loss_scale_factor=1

[2019-09-22 01:56] sasxianhu commented on #213
Do you use VDMML 8.3 or 8.4?

The latest DLPy only supports 8.4.

Best,
XQ

On Sep 21, 2019, at 9:45 PM, sasbsg <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

When I define a data_specs and pass it into a Tiny_YoloV2 model, I get an error.

from dlpy.model import DataSpec
data_specs = [DataSpec(type_='IMAGE',
layer='Input1',
data=inputVars,
loss_scale_factor=1),
Data

[2019-09-22 02:45] sasbsg commented on #213
I'm running a SMP CAS in a Docker container.  My /var/log/sas/viya/cas/default/cas*.log file includes this:
SAS Cloud Analytic Services Version V.03.04M0P07122018
Is that the best way to look that up?

[2019-09-22 02:47] sasxianhu commented on #213
It is VDMML 8.3. You could use DLPy 1.0 not 1.1.

Best,
XQ

On Sep 21, 2019, at 10:45 PM, sasbsg <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL

I'm running a SMP CAS in a Docker container. My /var/log/sas/viya/cas/default/cas*.log file includes this:
SAS Cloud Analytic Services Version V.03.04M0P07122018
Is that the best way to look that up?

—
You are receiving this

[2019-09-23 12:30] ethem-kinginthenorth commented on #213
@sasbsg we have a list on the main page (readme) indicating vdmml and sas viya versions. Would you please try the latest dlpy version 1.0.2? thanks

[2019-09-25 04:25] jld23 opened #215 "How to load images organized in folders"
I'm trying to train an computer vision model for the [stanford dog dataset](http://vision.stanford.edu/aditya86/ImageNetDogs/)

When the images are unziped they have a structure like this:
[code]
Then within the folders are the images for that breed.
I've tried to follow the examples and the doc but I can't figure out how to use `all_img = ImageTable.load_files(conn, path=dir_path, casout=dict(nam

[2019-09-25 11:06] sasxianhu commented on #215
what is your dir_path? if each folder contains one breed, it should work with something like /stanford-dogs-dataset/images/Images.

[2019-09-25 13:02] ethem-kinginthenorth commented on #215
IF you are an experienced SAS user, I should also mention that, this call takes care of the 'caslib' parameter for you under the hood. So you might need to pass the full path.

[2019-09-25 18:24] #213 closed

[2019-09-25 18:30] jld23 commented on #215
This was user error. The path was from the host not from CAS

[2019-09-25 18:30] #215 closed

[2019-10-01 06:41] pynyah opened #218 "Text Classification Example"
Hi,

I am getting an error with the attached step. Could you please let me know where I am going wrong? I have got the pretrained word embeddings file from wikipedia2vec. Not sure why it's throwing an error.

![capture2](https://user-images.githubusercontent.com/54321951/65939758-6da5c400-e444-11e9-84c6-1dbc2dfe68fc.PNG)

![capture4](https://user-images.githubusercontent.com/54321951/65939841-97f7

[2019-10-01 10:53] pynyah commented on #192
Hi,

Were you able to fix this? if yes, then please share how. I am experiencing the same issue. Thanks in advance.

[2019-10-01 11:08] sasxianhu commented on #218
https://sassoftware.github.io/python-swat/generated/swat.cas.connection.CAS.upload_frame.html?highlight=upload_frame

Check the importOptions. You can specify the csv-related options like delimiter.

The second error means your VDMML version is not 8.4. You need either use DLPy 1.0 or update VDMML to 8.4.

[2019-10-01 11:59] pynyah commented on #218
Thanks for the response. But I have got the file imported correctly. But, at the model fitting stage, it is not able to load. I am attaching a screenshot of embedding file.
![capture6](https://user-images.githubusercontent.com/54321951/65959963-f6d2f000-e470-11e9-9a75-ab2d4eae28e7.PNG)

[2019-10-01 12:45] sasxianhu commented on #218
It always load the file. Can you fetch the embedding table uploaded to CAS to check whether the columns are correct?

The first column should contain the terms and the rest should be all numerical.

[2019-10-02 04:26] pynyah commented on #218
Thanks for the response, sasxianhu. I fixed this error. However, I am getting the attached error in the model.evaluate step. appreciate your help
![cap8](https://user-images.githubusercontent.com/54321951/66018000-db142c00-e4fa-11e9-8cd8-278b73776201.PNG)

[2019-10-02 11:11] sasxianhu commented on #218
does your test_tbl contain the ground truth?
https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.evaluate.html
Evaluate the deep learning model on a specified validation data set

After the inference, a confusion matrix is created from the results. This method is good for classification tasks.

[2019-10-02 16:56] buhrowcr opened #219 "Create_Object_detection function only creates .txt files for less than 1/4 of images"
Hello,

My team and I are running into some issues around the .txt file creation when trying to scale out our project, and I was just wondering if you ran into some similar problems. We managed to create the object detection table and get our model to train and work correctly with a small training set of about 100 images. However, obviously the performance is poor because we aren’t training on eno

[2019-10-02 18:14] wenyushi commented on #219
How can I access the data or the machine?

[2019-10-02 18:29] buhrowcr commented on #219
What is your SAS email? I can send you the RACE image log in email and send you the location of the data in the image.

From: Wenyu Shi <notifications@github.com>
Sent: Wednesday, October 2, 2019 2:15 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Campbell Buhrow <Campbell.Buhrow@sas.com>; Author <author@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Create_Object_

[2019-10-02 19:47] buhrowcr commented on #219
I also don’t know if this helps but my Jupyter Notebook I am working from is under the username: sasdemo, password: Orion123. And it is called I believe NCATS_CVTake2. Hope this helps, thank you!

From: Wenyu Shi <notifications@github.com>
Sent: Wednesday, October 2, 2019 2:15 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Campbell Buhrow <Campbell.Buhrow@sas.com>; Author <aut

[2019-10-03 06:12] pynyah commented on #218
Yes it does have ground truth. Not sure why it is throwing the output with the error

[2019-10-03 11:10] sasxianhu commented on #218
can you run the history action after you get that error? I want to know what the dlScore action is called on the server side.

[2019-10-04 01:13] sasxianhu opened #220 "EarlyStopping"
Automatic stopping of training based on not improving above mentioned criterion for X number of epochs.

Need wrap up FCMP.

[2019-10-04 01:15] sasxianhu opened #221 "ModelCheckpoint"
Save the model at the epoch where loss, fit error, validation loss or validation error is min/max or maybe has leveled off for a certain number of epochs.

Need use snapshotFreq=1 to save the weights.

[2019-10-04 12:10] ticlazau opened #222 "DLPY suport for ppc64le"
Hello,

I will like to know if DLPY is supported on ppc64le - IBM AC922 with NVIDIA V100 GPUs.

Thanks,
FM

[2019-10-04 12:57] jld23 commented on #222
When I was running on a Power LInux system earlier this week I ran into an error that is fixed in the PR #223. This resolved the issues I ran into.

[2019-10-07 12:39] ethem-kinginthenorth commented on #222
@ticlazau I merged the pull request from @jld23 , would you please check if your issue is resolved. thanks

[2019-10-07 12:51] ethem-kinginthenorth opened #225 "dltrain is not happy with n_classes"
the n_classes parameter needs to be matching with the number of classes in the trainingset. There sometimes is an inconvenience on this. A user-friendly solution would be great.

[2019-10-07 13:17] ethem-kinginthenorth opened #226 "unit tests are failing as something /order changed in columinfo"
unit tests are failing as something has changed in the columninfo action in the server side.

[2019-10-07 13:43] #226 closed

[2019-10-07 16:50] ethem-kinginthenorth commented on #225
I am planning to add an api to return number of classes in a table along with the maximum number of objects in an image.

[2019-10-08 14:45] pynyah opened #227 "DLPy timeseries Error"
Hi,

I am facing issues with this step. Although, my datetime format is in order, I am getting the error
![cap9](https://user-images.githubusercontent.com/54321951/66405864-5ea4b000-ea08-11e9-9cf4-0c1a13f34a8e.PNG)
![cap10](https://user-images.githubusercontent.com/54321951/66405882-63696400-ea08-11e9-9484-bff8543accea.PNG)

Appreciate your help

[2019-10-08 15:11] ethem-kinginthenorth commented on #225
I already implemented a version that post-process the data in the client. I am working on a solution that uses the data in the server without shuffling the data around.

[2019-10-08 15:13] sasxianhu commented on #227
Can you try the fetch action?

[2019-10-08 16:19] pynyah commented on #227
Here is the result of fetch action. the screenshot just contains time variable (not exposing the entire data)
![cap14](https://user-images.githubusercontent.com/54321951/66413668-72a2de80-ea15-11e9-9ba0-1f702cfc0bb8.PNG)

[2019-10-08 16:29] sasxianhu commented on #227
I have to get your data sample to repeat it.

[2019-10-08 16:55] pynyah commented on #227
[data.xlsx](https://github.com/sassoftware/python-dlpy/files/3703630/data.xlsx)

Here is the sample

[2019-10-08 17:47] sasxianhu commented on #227
acc_interval : string, optional
            The accumulation interval, such as 'year', 'qtr', 'month', 'week',
            'day', 'hour', 'minute', 'second'.

Not sure why your 'OBS' means. It works when I tried with hour.

[2019-10-08 18:21] sasxianhu commented on #227
You have to use the new user_defined_interval option if your acc_interval is a typical sas date time.

[2019-10-08 18:35] ethem-kinginthenorth commented on #227
@pynyah I merged @sasxianhu 's changes. Would you please grab the latest version from the github and try it out to see if that resolves your problem. thanks

[2019-10-08 19:07] ethem-kinginthenorth commented on #222
I am closing the issue assuming that it is resolved. Please do open the issue back if you are still experiencing an issue. thanks

[2019-10-08 19:07] #222 closed

[2019-10-08 19:56] ethem-kinginthenorth commented on #225
I added a function: get_info_for_object_detection, that returns class frequency distributions along with the maximum number of objects in an image.

[2019-10-08 19:57] ethem-kinginthenorth commented on #225
I am closing the issue as I added the function

[2019-10-08 19:57] #225 closed

[2019-10-08 19:57] ethem-kinginthenorth commented on #219
I am closing the issue. I believe this is addressed. Please do re-open the issue if you still have issues. thanks

[2019-10-08 19:57] #219 closed

[2019-10-08 19:58] ethem-kinginthenorth commented on #187
I am closing the issue. Please do re-open it if you have any questions.

[2019-10-08 19:58] #187 closed

[2019-10-08 19:59] ethem-kinginthenorth commented on #188
I am closing the issue. Please do re-open the issue, if you have any questions. thanks.

[2019-10-08 19:59] #188 closed

[2019-10-08 19:59] ethem-kinginthenorth commented on #195
I am closing the issue. Please re-open it, if you have any questions.

[2019-10-08 19:59] #195 closed

[2019-10-10 02:02] banbsyip commented on #170
@yg2288 ，where can I download the updated onnx models?

[2019-10-10 02:37] banbsyip commented on #170
I have find it in
http://support.sas.com/documentation/prod-p/vdmml/zip/index.html

[2019-10-11 07:04] banbsyip opened #230 "The table tiny_yolov2_weights could not be located in caslib CASUSER(sasdemo) of Cloud Analytic Services."
code:
# first we need to supply some attributes for the dlscore action
# attributes can be converted and saved from an existing SAS model
# s.addcaslib('data1', path='/opt/data/share/data/jupyter/YIP/tiny_yolov2_313cls', activeonadd=False, subdirectories=False)
s.loadtable(path='Tiny-Yolov2_weights.sashdat', caslib='data1', casout=dict(name='Tiny-Yolov2_weights', replace=True))

# Update attribute

[2019-10-11 07:25] banbsyip opened #231 "problem of DLPy_Import_ONNX_tinyYoloV2.ipynb"
when i run the DLPy_Import_ONNX_tinyYoloV2.ipynb in my local enviroment, i meet two problems.
![image](https://user-images.githubusercontent.com/18277076/66631851-bc6c0e80-ec39-11e9-9f97-2f4e2ccba3b1.png)
![image](https://user-images.githubusercontent.com/18277076/66631709-6b5c1a80-ec39-11e9-9727-8ff7e73b1d8d.png)
![image](https://user-images.githubusercontent.com/18277076/66631789-90508d80-ec39-1

[2019-10-11 12:31] sasxianhu commented on #230
The model_weights.name is tiny_yolov2_weights but your loaded weight table is TINY**-**YOLOV2_WEIGHTS. When you create your model, try to use tiny-yolov2 to match the weight table name.

[2019-10-11 12:31] #230 closed

[2019-10-11 12:33] sasxianhu commented on #231
Again, use tiny-yolov2 as your output model table name.

[2019-10-11 13:27] ethem-kinginthenorth commented on #218
@pynyah could you please fetch the easy_model.valid_res_tbl or share the columninfo. thanks

[2019-10-14 04:03] banbsyip commented on #230
thanks for your help, but it is no use for me. whatever I named the table's name, it always named "TINY-YOLOV2_WEIGHTS" as the table's name by the system.
![image](https://user-images.githubusercontent.com/18277076/66728929-689c3800-ee7a-11e9-9b6e-c30908a32905.png)
![image](https://user-images.githubusercontent.com/18277076/66728944-823d7f80-ee7a-11e9-9117-07094cf427bb.png)

[2019-10-14 07:11] banbsyip commented on #231
i think it is maybe casued by problem 1:
NOTE: Model table is attached successfully!
NOTE: Model is named to "tiny_yolov2" according to the model name in the table.

[2019-10-14 11:48] yg2288 commented on #231
Hi @banbsyip,
For the first error, follow the steps below to handle the dataspecs / labels for importing the yolo model (do not use yoloweightsAttr.sashdat, since it contains the attributes for a different model - Pascal VOC)

Example:
[code]

Then, pass in `data_spec` when loading the h5 file:

[code]

where `labels.csv` specifies the class names:

[code]

For reference: https://github.com/sassof

[2019-10-14 11:58] yg2288 commented on #231
@banbsyip I have attached the class labels here:
[tiny_yolov2_313cls_labels.txt](https://github.com/sassoftware/python-dlpy/files/3724328/tiny_yolov2_313cls_labels.txt)

Hope this helps!

[2019-10-14 16:49] sasbsg opened #234 "Tiny_YoloV2 model issues for larger images with height and width provided."
I have noticed a strange error that depends on whether the height and width are provided in a Tiny_YoloV2 model.  In my case, I had a set of images that were larger than a 416x416 pixels. When I failed to include the dimensions in the model, I can get the fit method to execute.  When I include the dimensions, I generate an error that I am including below:

from dlpy.applications import Tiny_YoloV2

[2019-10-14 16:51] ethem-kinginthenorth commented on #234
can you please also paste your create_object_detection call here? thanks
As a side note, yolo only works with square sizes - this is one thing we can add a warning message

[2019-10-15 13:54] ethem-kinginthenorth commented on #234
@sasbsg did it work with square image sizes? thanks

[2019-10-15 15:13] ethem-kinginthenorth opened #236 "adding transpose support for onnx_to_sas"
We do support transpose convolution in the servers side, and dlpy side. We just need to expand this support while converting onnx models to sas models.

[2019-10-16 09:00] banbsyip commented on #231
thanks for your help. it maybe not caused by the dataspac, when i run the DLPy_Import_ONNX_Model.ipynb, the demo can be successful:
<img width="771" alt="image" src="https://user-images.githubusercontent.com/18277076/66903930-db9dde00-f035-11e9-8d50-280ed49ca165.png">
when i checked the yolo's code and the model's net, i found the output layer maybe wrong
<img width="732" alt="image" src="https://

[2019-10-18 08:43] banbsyip commented on #231
I find the reason, when I change the output layer to the model, the model net as follows:
<img width="794" alt="image" src="https://user-images.githubusercontent.com/18277076/67079030-09fdf380-f1c5-11e9-9e80-2063821c935c.png">
and the tiny_yolov2_weights.onnxmodel.h5 is:
![后](https://user-images.githubusercontent.com/18277076/67079128-331e8400-f1c5-11e9-82bc-d2591bd5547b.jpg)
the h5 file don't con

[2019-10-18 10:35] sasxianhu commented on #231
I am a little bit lost here. Are you following https://github.com/sassoftware/python-dlpy/blob/master/examples/onnx/DLPy_Import_ONNX_tinyYoloV2.ipynb?

If so, did you download your onnx model from here https://github.com/onnx/models?

tiny_yolov2_323cls is trained by SAS. We already provided the astore and onnx models as well as the sashdat formats.

@yg2288 , have you tried to import our own ONNX

[2019-10-23 07:38] banbsyip commented on #231
my environment is dlpy1.1,the onnx model from https://github.com/onnx/models is unfit ,my onnx model download from http://support.sas.com/documentation/prod-p/vdmml/zip/index.html. when I followed the code from https://github.com/sassoftware/python-dlpy/blob/master/examples/onnx/DLPy_Import_ONNX_tinyYoloV2.ipynb,the tiny_yolov2_weights.onnxmodel.h5 lose the output layer's weights, the detail showe

[2019-10-23 16:31] yg2288 commented on #231
Hi @banbsyip ,
Attached please find the notebook and labels files for importing this onnx model, let me know if you run into any issues.  I ran this using dlpy 1.1.2 and onnx 1.5.0.

Thanks

[yolo_files.zip](https://github.com/sassoftware/python-dlpy/files/3763419/yolo_files.zip)

[2019-10-25 17:30] #234 closed

[2019-10-26 19:54] sasxianhu commented on #218
The issue is the model type is RNN. So we do not use encoded name to generate the predicted target column.

[2019-10-28 04:15] banbsyip opened #240 "problem of train cnn model"
I set up a  cnn model to classify mnist data.the model as follow:
<img width="415" alt="image" src="https://user-images.githubusercontent.com/18277076/67650863-98b70100-f979-11e9-85c9-c9b4007ece29.png">
i train the model firstly successful,the result as follow:
![image](https://user-images.githubusercontent.com/18277076/67650958-e3d11400-f979-11e9-9775-45ff1a09ea02.png)
![image](https://user-image

[2019-10-28 13:10] ethem-kinginthenorth commented on #240
learning rate schedulers are created for easy support to learning rate modification.  we will have checks to prevent a smaller step_size than the max_epochs when lr_schedulers are used.

[2019-10-29 10:57] banbsyip commented on #240
when I trained the tinyyolo, the same problem occurred.the code from https://go.documentation.sas.com/?cdcId=pgmsascdc&cdcVersion=9.4_3.4&docsetId=casdlpg&docsetTarget=p1np8zbnoyd0brn1dhehthuuxj4q.htm&locale=zh-CN#p1dgtuox2j70uen1sg8qpg203n9z
it is about yolo's object detection
![image](https://user-images.githubusercontent.com/18277076/67760905-292a3a00-fa7d-11e9-924e-7a34d608736f.png)
![image](h

[2019-10-29 13:01] ethem-kinginthenorth commented on #240
thanks for pointing out. I will be looking into this today.

[2019-10-29 13:50] JesseRLund opened #241 "Trouble Loading model weights"
I'm using a standard image classification script and in my new environment I am getting the following errors when I try to load the caffe model. I have tried both a resnet50 and vgg16. I've also checked permissions on the directory I put them in. This script has worked in other environments without this issue.

model_vgg16 = VGG16(
    conn, model_table='VGG16_notop',
    n_classes=3,
    n_channe

[2019-10-29 13:56] ethem-kinginthenorth commented on #241
does the server have access to the dir_path? would you please elaborate on this a bit more "This script has worked in other environments without this issue."? thanks.

[2019-10-29 14:45] ethem-kinginthenorth commented on #240
@banbsyip seems like there might be an issue with the connection or such. would you please set "swat.options.cas.debug_responses = True " and then re-run your code. I would like to see what the server sends back

[2019-10-29 18:51] JesseRLund commented on #241
Yes. The server has access to that path. The last statement is unimportant. I was just referring to the fact that in the past I've been able to use the code to load pre-trained weights. Thanks.

[2019-10-29 18:57] ethem-kinginthenorth commented on #241
Cool. but if we now what was different we could help. are you using the server in smp mode or mpp mode?

[2019-10-30 01:45] banbsyip commented on #240
ok,i will run the code as your suggestion. I have a question about the label,i use the voc2007 data,the label of "person" have some parts such as "head","left","hand"and so on. I label all the parts as "person", is it a correct way to label?

[2019-10-30 01:55] sasxianhu commented on #240
Depends on what your task is. If you want to detect the parts, then label them for sure. If you think any human parts should use person as label, then label them as person.

[2019-10-30 02:00] banbsyip commented on #240
thanks for your help.

[2019-10-30 02:04] banbsyip commented on #240
the result as follow:
![image](https://user-images.githubusercontent.com/18277076/67823042-874a3200-fafc-11e9-894b-55bed4f46dc2.png)

[2019-10-30 12:59] ethem-kinginthenorth commented on #240
@banbsyip thanks for sharing the log message. I am communicating with swat folks to see if they can help resolve this issue.

[2019-10-31 16:57] JesseRLund commented on #241
We resolved this issue by saving the .h5 file to a non-distributed file system. Thanks for your help!

[2019-11-04 14:16] pynyah opened #243 "Image Captioning Example"
Hi ,

I am facing issues with the output of below cells. It is not in alignment with what has been shown in the example. Can you please look into it?
![image](https://user-images.githubusercontent.com/54321951/68127350-b963f580-ff3b-11e9-93ea-83acfca35787.png)

Appreciate your help

[2019-11-04 15:12] #241 closed

[2019-11-04 15:50] sasxianhu commented on #243
what does your word_embedding table look like?

[2019-11-05 17:03] fede-citti opened #245 "TextClassification reset weights"
**Is there a way to reset the weights in a TextClassification application?**

I have the following situation:
Define model1:
`model1 = TextClassification(s, neurons=10, n_blocks= 3, rnn_type='GRU')`
Train it:
 `model1.fit(data=trainData, inputs='text', texts='text', target='target_new',
               text_parms=TextParms(init_input_embeddings='wiki_embeddings'),
               mini_batch_size=1,

[2019-11-05 18:10] sasxianhu commented on #245
can you use another model_table name? The default is 'text_classifier'.

[2019-11-05 18:10] sasxianhu commented on #245
can you use another model_table name? The default is 'text_classifier'.

[2019-11-05 18:11] sasxianhu commented on #245
can you use another model_table name? The default is 'text_classifier'.

[2019-11-06 08:45] pynyah opened #246 "Multistep Multivariate Time Series"
Hi,

I am building a forecast model by using LSTM through DLPY framework. My model is built, however, when it comes to extending the forecast beyond test data, it is throwing an error.
I am using this statement "forecast_tbl = model1.forecast( horizon=400)"
Does it mean that I need to always provide a dataset to get the extended forecast in case of multivariate situation? (I get an output if I pro

[2019-11-06 10:53] fede-citti commented on #245
Thanks, the issue is solved

[2019-11-06 10:53] #245 closed

[2019-11-06 14:52] sasxianhu commented on #246
Can you share the notebook if possible? It should work with multivariate if you follow all the steps from https://github.com/sassoftware/python-dlpy/blob/master/examples/time_series_forecasting/Multisteps_vs_Onestep_ahead_Forecasting.ipynb to prepare the data and train the model.

[2019-11-06 16:19] pynyah commented on #246
Infact, I tried replicating the example shared in the link. However, if i try to have an extended forecast beyond the length of test data, it throws an error. (i.e. model.forecast(horizon=400) ) in case of multivariate forecasting. Please find the notebook
[Test.zip](https://github.com/sassoftware/python-dlpy/files/3815551/Test.zip)

[2019-11-06 18:45] sasxianhu commented on #246
OK. I checked the source codes as well as the API doc:
test_table : string or :class:`CASTable`, optional
            Specifies the test table. If `test_table=None`, the model cannot have
            additional static covariates or predictor timeseries, and can only
            be a autoregressive model. In this case, the forecast extends the
            timeseries from the last timestamp found in

[2019-11-07 04:53] pynyah commented on #246
Thanks for the response.
Does it mean that I can not extend the forecast horizon beyond the length of the test_table?

[2019-11-07 11:39] sasxianhu commented on #246
No, you cannot extend the horizon beyond the length of your test_table. The input features have to be computed first and stored in the test_table.

[2019-11-12 17:10] mikejenista opened #248 "'get_anchors' method assumes square images?"
When I create training data for object detection, the 'create_object_detection_table' method allows me to specify a 2-tuple with both dimensions of my images.  But when I use the 'get_anchors' method with coco coordinates, I have to specify the image size as a single integer.  Does the yolo algorithm assume square images?  Or should 'get_anchors' also support 2-tuples to specify both dimensions?

[2019-11-12 17:24] ethem-kinginthenorth commented on #248
yolo does not accept non-square images for now. I believe there is an warning / note should popup when you try to create yolo with non square images. FasterRCNN is the only object detection algorithm that accepts non-square images for now.

[2019-11-12 17:32] mikejenista commented on #248
thanks

[2019-11-12 17:32] #248 closed

[2019-11-15 15:24] formulajuan opened #251 "Correctly Preparing Train Data for Tiny YOLOv2"
Hi,

I'm trying to train a single class object detector using Tiny YOLOv2 in DLPy. I have high-res jpg images and txt label files which I've uploaded to separate CAS Tables and then joined to create a 'trainSet' table [as outlined in the documentation on the SAS website](https://documentation.sas.com/?docsetId=casdlpg&docsetTarget=p1np8zbnoyd0brn1dhehthuuxj4q.htm&docsetVersion=8.3&locale=en#n19lxy

[2019-11-15 15:27] ethem-kinginthenorth commented on #251
what is your "inputVars" ? Also  yolo's default size is 416x416. Your input images should be 416x416 as well. They don't have to be 416x416 but they have to match.

[2019-11-15 15:28] ethem-kinginthenorth commented on #251
there is also an example notebook to prepare data for object detection. We have a couple of APIs that can be used for this purpose: https://github.com/sassoftware/python-dlpy/tree/master/examples/object_detection

[2019-11-15 15:36] formulajuan commented on #251
My 'inputVars' is ['_image_'].

I have manually converted the labels to YOLO format as they are provided in the format `[xmin, ymin, w, h]`. These labels correspond to the normal resolution photo, so if the training images have to be resized to 416x416 then the aspect ratio of the image changes and so do the labels, is that how the labels should be calculated in the first place?

[2019-11-15 15:39] ethem-kinginthenorth commented on #251
Yolo format is normalized by width and height. Therefore, when you resize the images, bounding boxes still work. Thanks.

[2019-11-15 15:46] formulajuan commented on #251
Okay I will try that, thank you!

[2019-11-15 15:53] ethem-kinginthenorth commented on #246
I am closing this issue, @pynyah please ping us back if you have further questions. thanks

[2019-11-15 15:53] #246 closed

[2019-11-15 15:54] ethem-kinginthenorth commented on #243
@pynyah any update on this issue?

[2019-11-20 10:13] formulajuan commented on #251
Hi, this issue can be closed. Thanks for your help!

[2019-11-20 10:13] #251 closed

[2019-11-21 18:30] sasxianhu opened #254 "add ignoreErrorTraining into model.fit"

[2019-11-21 18:56] ethem-kinginthenorth commented on #231
closing this issue for now. @banbsyip please do let us know if you have any further issues and questions. thanks.

[2019-11-21 18:56] #231 closed

[2019-11-21 18:57] ethem-kinginthenorth commented on #227
@pynyah, I am closing this issue for now. please let us know if you have any further issues and questions. thanks.

[2019-11-21 18:57] #227 closed

[2019-11-21 18:57] ethem-kinginthenorth commented on #218
@pynyah, I am closing this issue. please do let us know if you have any further issues or questions. thanks

[2019-11-21 18:57] #218 closed

[2019-11-21 18:58] ethem-kinginthenorth commented on #243
@pynyah , I am closing this issue, please do re-open the issue if you have any further issues. thanks

[2019-11-21 18:58] #243 closed

[2019-11-21 19:58] wenyushi commented on #254
will work on it.

[2019-11-22 18:49] sasxianhu opened #255 "Support RNN with ONNX"
Alex is working on this.

[2019-11-25 14:17] formulajuan opened #256 "Loading Tiny YOLOv2 for Inference"
Hi,

I've trained a single class object detector using the Tiny YOLO model. I used the documentation here on GitHub as well as [the SAS documentation](https://documentation.sas.com/?docsetId=casdlpg&docsetTarget=p1np8zbnoyd0brn1dhehthuuxj4q.htm&docsetVersion=8.3&locale=en#n0h67hfe9mx1byn122dvmb7fm8zn) as a guide.

After training the model I used the `s.save` function to save both the weights & att

[2019-11-25 14:23] sasxianhu commented on #256
When you load the model weight table, do you specify  loadAttrs=True?
If you use DLPy, when saving models, better use model.deploy.

[2019-11-25 14:31] sasxianhu commented on #256
BTW: if you call model.deploy to save the model as sashdat, you can call model.load_weights to load it back. load_weights will load both weights and the model attributes.

[2019-11-25 14:33] formulajuan commented on #256
Neither model.set_weights or s.dlscore have an option to flag loadAttrs as true.
Do I need to retrain the model to get the architecture, weights, and attributes all together before calling model.deploy?

[2019-11-25 14:37] formulajuan commented on #256
Also, my use case is to make an initial prediction on an image and crop it to leave only the highest confidence object before processing the image further. Do either the model.predict or s.dlscore functions return coordinates of object predictions on test images so I can manually extract the objects from the input image?

[2019-11-25 14:39] sasxianhu commented on #256
After you save the model, how do you load the table back? loadAttrs is one of options for the loadTable action.
model.predict indeed returns the predicted bounding boxes with the confidence. If you want to use the action to extract all the objects, you can try image.extractDetectedObjects with extractType="CROP".

[2019-11-25 14:44] formulajuan commented on #256
I have been loading the weights table from SAS Data Explorer to load it into the active caslib before calling model.set_weights and passing the name of the weights table.

That's great, thanks!

[2019-11-25 14:50] sasxianhu commented on #256
Data Explorer does not load the attrs, I think. Can you try model.load_weights to load it?
I assume you called s.save with saveAttrs=True.

[2019-11-25 14:56] formulajuan commented on #256
I used s.save twice as the SAS documentation does, seemingly saving both the weights and attrs as 2 separate sashdat files.

![image](https://user-images.githubusercontent.com/57802244/69550592-2c88e680-0f93-11ea-9d96-28951f838241.png)

I had been using model.set_weights instead of model.load_weights because there is no local copy of the sashdat file to use with model.load_weights, it is only stor

[2019-11-25 15:00] formulajuan commented on #256
Is the best option to just retrain the model and use model.deploy after training to save the weights locally? That way they can be loaded by calling model.load_weights like you suggested.

[2019-11-25 15:04] sasxianhu commented on #256
model.load_weights actually read the files from the server.
If you really want to use your current weights, here are the manual steps:
1. load the stored attrs table as well.
2. attach attrs with this:
s.table.attribute(caslib='CASUSER(xxxx)', task='ADD', name='your_model_table_name', attrtable='the_attrs_table_name')

I assume you use casuser as your caslib. Both tables are under casuser.

[2019-11-25 15:19] formulajuan commented on #256
I think I will retrain and use model.deploy as you suggested since that seems to be better than the s.save method for weights/attrs as in the other SAS documentation.

If I retrain and use model.deploy with an output format of castable does that mean the weights are saved in the current caslib so I can call them using model.load_weights? [The DLPy documentation](https://sassoftware.github.io/pytho

[2019-11-25 15:23] sasxianhu commented on #256
If you store your model as the astore model, it has to be a client-side path since this model will be downloaded to your local client side.
If you store your model as sashdat, it stays on the server side.
DLPy APIs wrap up all the actions to simply the process. But it is still good to play with the action-level codes to get better understanding about what happens under the hood. And the SAS docume

[2019-11-25 15:24] sasxianhu commented on #256
@ethem-kinginthenorth , please update the DLPy doc as well for model.deploy.

[2019-11-25 15:31] formulajuan commented on #256
If you store your model as sashdat, it stays on the server side.

Thanks for clarifying - I was unsure about this. I will go ahead and use model.deploy and that should hopefully fix my issues for the time being.
Thanks for your help!

[2019-11-25 15:31] #256 closed

[2019-11-25 15:32] sasxianhu commented on #256
Let me know how it goes. If you encounter other issues, please either reopen this or create a new issue.

[2019-11-26 16:01] teoland commented on #256
Adding on the previous thread, the initial error message "Invalid argument" that was received from the dlscore was not really helpful. Will it be possible to add a specific error message when weight attributes are missing? The same goes for the .predict method.

Thanks!

[2019-11-26 16:09] sasxianhu commented on #256
Yes, I indeed polished the message for Viya 3.5 with this:
The model table cannot be loaded successfully. Please check whether the table is complete such as including the table attributes.

[2019-11-26 16:10] teoland commented on #256
That's great! Thank you

[2019-11-27 19:07] sasxianhu commented on #220
This can be achieved by using FCMP with Viya 3.5:
https://go.documentation.sas.com/?docsetId=casdlpg&docsetTarget=n09hd6k2q73oa6n15mvm17dvtuqt.htm&docsetVersion=8.5&locale=en#n0p9v0x7yt8hb1n1g6c4neig5vbo

[2019-11-29 13:35] formulajuan commented on #256
Hi, the model.deploy method works fine and I can deploy and load the model in a new session for inference as expected.

However I was wondering if it's possible to change the name of the output CAS table before calling model.deploy, because their names after deploying conflict with the pretrained weights files used initially to train the model that are stored in the working caslib?

For reference,

[2019-11-29 14:07] sasxianhu commented on #256
when you call TinyYoloV2 to create your model, you can use model_table to specify a different model name.

[2019-11-29 14:27] formulajuan commented on #256
Thank you!

[2019-12-06 15:24] eusdougc commented on #203
This issue can be closed as the fix has been merged.

[2019-12-06 15:42] #203 closed

[2019-12-09 11:14] formulajuan opened #260 "Keras Model Conversion"
Hi, I have trained a model in Keras and saved the weights/architecture to a h5 file and I want to convert it to a DLPy model to deploy it/make inference. I'm able to convert the model but I can't seem to attach the SAS compatible h5 weights file that is generated automatically from the `Model.from_keras_model` function. My code and the associated error message is below:

[code]
NOTE: Model table i

[2019-12-09 15:48] formulajuan commented on #260
I fixed this by moving the SAS compatible h5 file to a different directory and loading from there.

[2019-12-09 15:53] sasxianhu commented on #260
Here is why it happens and your solution is indeed the fastest one. We try to create a new caslib based on your h5 path by first checking whether the h5 path is already used as one of caslibs or not. If yes, we use yours. If not, we create one. Obviously, our check somehow is wrong in your case

[2019-12-09 15:54] sasxianhu commented on #260
BTW: do you use DLPy by git clone or pip install?

[2019-12-09 15:59] formulajuan commented on #260
We were provided with a pre-configured environment, I'm not sure.

[2019-12-09 16:21] formulajuan commented on #260
I have an unrelated question (sorry), I'm able to load and deploy my keras model using DLPy but I'm unable to use Model.predict the same way as the keras model.predict function.

For example, in keras I prepare the image for classification like this:

[code]

And an array of 10 possible classes are returned

[code]

I tried passing my mean and std values using the DLPy Model.from_keras_model (as i

[2019-12-09 18:13] wenyushi commented on #260
The error will happen when BN layer contains small variances( < 10e-6). I will fix the issue in my next PR. BTW, one workaround is to convert the model into ONNX and then load the model from ONNX.

[2019-12-10 15:28] formulajuan commented on #260
Just to clarify, do you mean using model.deploy (with output_format='onnx') and loading from CAS after it has been deployed? Or just directly loading a local ONNX file using Model.from_onnx_model?

[2019-12-10 15:30] wenyushi commented on #260
I mean loading a local ONNX file using Model.from_onnx_model.

[2019-12-10 15:40] formulajuan commented on #260
Okay thanks. I'm not sure if there is a problem with my model then because the onnx_to_sas function that is called during the Model.from_onnx_model function throws an error:

![image](https://user-images.githubusercontent.com/57802244/70543903-15d1ba80-1b63-11ea-883f-207942d6e722.png)

For reference, I converted my existing keras h5 model to onnx using [this example.](https://github.com/onnx/onnx-

[2019-12-10 15:50] wenyushi commented on #260
SAS ONNX parser doesn't support [transpose ](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Transpose)op. Consider it is a resnet model, I believe the operation happens at input layer used for reordering axis, eg. converting BHWC to BCHW. If so, we can skip the operation. @yg2288

[2019-12-10 17:40] yg2288 commented on #260
In some cases it's possible to skip the transpose after input.  However if there's a fully connected layer in the model (I assume in this case with resnet), typically onnx converters will insert a transpose before that too, so the FC weights will need to be reordered by DLPy.  I can work on adding this support, will open an issue to track this.  Thanks

[2019-12-17 18:11] yg2288 commented on #260
Hi @formulajuan I'm trying to recreate the "Wide-ResNet-Classifier" from Keras and use onnxmltools to convert it.  Could you point to the code to build this Keras model?  Thanks.

[2019-12-18 09:21] formulajuan commented on #260
Hi, I used [this code](https://github.com/titu1994/Wide-Residual-Networks/blob/master/wide_residual_network.py) to build my Keras model. I can send you my h5 file as well if that helps.

[2019-12-18 14:36] yg2288 commented on #260
Yes, that would be helpful, thanks!

[2019-12-18 14:55] formulajuan commented on #260
Here you go, please let me know if there's anything else I can help with.
[ResNet_Models.zip](https://github.com/sassoftware/python-dlpy/files/3978938/ResNet_Models.zip)

[2020-01-13 12:53] Mespith opened #261 "TypeError: '>=' not supported between instances of 'str' and 'int'"
I'm trying to create an object detection dataset using the notebook in the examples: [PrepareObjectDetectionTable.ipynb](https://github.com/sassoftware/python-dlpy/blob/master/examples/object_detection/PrepareObjectDetectionTable.ipynb) When I run the code
[code]
I get the following error
[code]

I'm using the following environment:
Operating System: Red Hat Enterprise Linux Server 7.6 (Maipo)

Py

[2020-01-13 14:07] wenyushi commented on #261
Hi, I think the error was fixed before. Please install the latest DLPy from git clone.

[2020-01-14 13:51] yg2288 commented on #260
Hi @formulajuan
Please see the attached notebook for importing this model.  This requires DLPy '1.1.3-dev' and ONNX 1.6.  Let me know if you have any questions.
Thanks!

[onnx_notebook.zip](https://github.com/sassoftware/python-dlpy/files/4059406/onnx_notebook.zip)

[2020-01-15 07:58] Mespith commented on #261
I thought version 1.1.2 was already the latest version of dlpy... Nevertheless, version 1.1.3.dev0 was installed and the error still persists.

[2020-01-15 10:12] Mentos05 commented on #261
The error is gone after installing directly from github. Use: pip install git+https://github.com/sassoftware/python-dlpy.git@master

[2020-01-17 22:23] sasxianhu opened #263 "return the error message when model.deploy uses the wrong path for astore"
Now no matter what it always returns the model is stored successfully.

[2020-01-20 15:56] smlindauer opened #265 "ONNX model import fails to load weights"
I have an ONNX model (attached with weights), which I load onto CAS via:
[code]
This produces the expected output of:
[code]
However, after uploading the weights file to a server-side location and running the following:
[code]
I get the following output:
[code]
I also attempted to run the same process with the deeplearn actionset directly with either of the formattype options (CAFFE and KERAS):
[c

[2020-01-20 16:26] eusdougc commented on #265
@smlindauer - The error you are reporting indicates that your Viya server cannot find the file you specified with your variable weightsPath.  Can you confirm that weightsPath does indeed specify a valid file that is visible to the server?  Also, you (as a Viya user) need to have permission to access the file.  This would be important if you assumed super user privilege to copy the file to a direct

[2020-01-20 16:38] smlindauer commented on #265
@eusdougc - As you stated, it looks like the Viya server did not in fact have access to the file. (It now works with the file accessible to the server.)

I had been trying to place the weights file on a file share server instead of uploading directly to the Viya server in order to avoid needing to SFTP. Is there anyway to run the `load_weights` function such that it calls the local file that is wr

[2020-01-20 17:06] eusdougc commented on #265
@smlindauer - It depends on your client/server configuration.  If your client and server are running on the same computer, then what want is very straightforward (and no need to copy files).  If your client and server are running on separate computers, then then you must copy the file from the client to the server unless there is some sort of common file system.  For example, there are some direct

[2020-01-21 11:49] formulajuan commented on #260
Hi @yg2288 I was able to convert the model and load it into CAS as expected, thanks for your help!

I do have a question about the pre-processing of images that goes on under the hood because my results using the converted model are similar but slightly worse than the original Keras model. As I said in an earlier comment I need to replicate the pre-processing used for the Keras model:

I noticed t

[2020-01-21 12:12] formulajuan opened #267 "Caslib Permissions Error"
Hi,

I've been using a trial Viya environment which was due to expire last week but we had the license extended for a few weeks. Since the license was extended some of the code I had written before to access models stored in the 'PUBLIC' caslib has been producing permissions errors. It seems to have lost read/write access to the caslib meaning I can't use functions such as `Model.from_sashdat` to

[2020-01-21 12:18] sasxianhu commented on #267
Could you run table.caslibInfo with verbose=True and paste your results here? This action returns the caslib information.

[2020-01-21 12:21] formulajuan commented on #267
  | Name | Type | Description | Path | Definition | Subdirs | Local | Active | Personal | Hidden | Transient
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
0 | CASUSER(viyademo01) | PATH | Personal File System Caslib | /home/viyademo01/casuser/ |   | 1.0 | 0.0 | 0.0 | 1.0 | 0.0 | 1.0
1 | Formats | PATH | Stores user defined formats. | /opt/sas/viya/config/data/cas/default/formats/ |   |

[2020-01-21 14:05] sasxianhu commented on #267
Not sure you have permissions to manage caslibs.

If you are the only user for this system, you could try these:

1. drop PUBLIC:
table.dropCaslib(caslib='public')
2. add it back with  subDirectories=True:
table.addCaslib(activeonadd=True,datasource={'srctype':'path'},
                  name='dnfs',path='/opt/sas/viya/config/data/cas/default/public/',
                  subdirectories=True)

A bett

[2020-01-21 14:26] formulajuan commented on #267
Yeah I don't have the permission to manage the caslibs so I can't drop and add it back. Using the CASUSER caslib would definitely have been better but I deployed my trained models to PUBLIC so I only ran into difficulty after trying and failing to load models from that caslib.

[2020-01-21 15:04] yg2288 commented on #260
Hi @formulajuan ,
Recently `norm_stds` was added as a parameter in `from_onnx_model`, used like this:
`norm_stds=(255*0.229, 255*0.224, 255*0.225), offsets=(255*0.485, 255*0.456, 255*0.406)`.

I see this wasn't present in the 1.1.2 release - could you try upgrading to master using git+https://github.com/sassoftware/python-dlpy.git@master

Thanks

[2020-01-21 15:10] sasxianhu commented on #267
In some cases, we do need subdirs=True. For your case, it is not required. @ethem-kinginthenorth is working on a quick fix by returning a warning not error.

[2020-01-21 15:11] ethem-kinginthenorth commented on #267
yep. running the unit tests now.

[2020-01-21 15:17] ethem-kinginthenorth commented on #267
@formulajuan, are you using a local version of dlpy (git cloned to your local), right?

[2020-01-21 15:20] formulajuan commented on #267
That's right, I'm currently using dlpy version 1.1.3-dev.

[2020-01-21 15:31] formulajuan commented on #260
Yeah the `norm_stds` parameter works much better. The classifications are now correct for a small sample and the confidences are more aligned to the equivalent Keras values but some vary more than others (e.g. 0.75 confidence vs 0.99).

I'm curious to see if there's any difference between using cv2.resize and ImageTable.resize to account for the slight variation in confidence scores.

[2020-01-21 16:20] ethem-kinginthenorth commented on #267
@formulajuan can you please update your local copy and try again to see if it works with the changes we have just made. thanks

[2020-01-21 16:30] yg2288 commented on #260
Thanks for reporting the difference in output, I am looking into this.

[2020-01-21 16:34] formulajuan commented on #267
The latest version I could get is still 1.1.3-dev, I tried to update and the error was the same.

[2020-01-21 16:35] ethem-kinginthenorth commented on #267
did you do another git pull in your local copy?

[2020-01-21 17:02] HaidarAltaie commented on #267
Working alongside @formulajuan  on this - We used "pip install git+https://github.com/sassoftware/python-dlpy.git@master --user" to obtain the 1.1.3-dev version, is that the appropriate step since re-running causes the same issue.

[2020-01-21 17:49] ethem-kinginthenorth commented on #267
I will be pushing one more change, if that won't help, we will consider other ways. stay tuned. thanks

[2020-01-21 20:48] ethem-kinginthenorth commented on #267
I have just made another push. would you please grab it. let's see if this works. If not, we might want to try removing and installing dlpy again. Perhaps we can also analyze a couple of lines in the source code on the client machine to make sure our changes is reflected. thanks

[2020-01-22 10:42] formulajuan commented on #267
I tried to update again this morning using the method @HaidarAltaie mentioned above and the error message remained the same when trying to load a model from PUBLIC.

[2020-01-22 11:28] sasxianhu commented on #267
Did you restart the kernel if you use notebook?

Best,
XQ

Everyday is a new learning day.
________________________________
From: formulajuan <notifications@github.com>
Sent: Wednesday, January 22, 2020 5:42:42 AM
To: sassoftware/python-dlpy <python-dlpy@noreply.github.com>
Cc: Xiangqian Hu <Xiangqian.Hu@sas.com>; Comment <comment@noreply.github.com>
Subject: Re: [sassoftware/python-dlpy] Caslib P

[2020-01-22 11:46] formulajuan commented on #267
Yeah I did, I've tried updating dlpy from Jupyter and MobaXterm with no luck.

[2020-01-22 11:52] sasxianhu commented on #267
The fix just changes the error to warning if you check the message in  https://github.com/sassoftware/python-dlpy/blob/master/dlpy/utils.py. It doesn't sound the fix is picked up. Is it ok to upload your notebook?

[2020-01-22 12:06] formulajuan commented on #267
I was able to get the latest commit by adding `--upgrade` to the pip install command from Jupyter, the change from error to a warning made by @ethem-kinginthenorth works now and I'm able to load the model from PUBLIC successfully, thanks!

[2020-01-22 12:11] sasxianhu commented on #267
Great. And thanks for sharing the --upgrade flag. Let us know if you have other issues. Close this for now.

[2020-01-22 12:11] #267 closed

[2020-01-22 12:12] #265 closed

[2020-01-22 12:13] #261 closed

[2020-01-22 12:15] sasxianhu commented on #260
Let me close this one. For the resize issue, feel free to open a new one to track it.

[2020-01-22 12:15] #260 closed

[2020-01-29 16:33] fede-citti opened #271 "Recursively use "create_object_detection_table""
Is it possible to use the "create_object_detection_table" function recursively on subfolders?
We have our data in this structure:
Image1
    -001.xml
    -001.jpg
    -002.xml
    -002.jpg
Image2
    -001.xml
    -001.jpg
    ...

[2020-01-29 19:24] sasxianhu commented on #271
I don't think we support this structure after I checked create_table_from_pascal_voc_format in https://github.com/sassoftware/python-dlpy/blob/master/dlpy/utils.py. Of course, it is doable to add a new option to support the recursive way.

[2020-01-29 19:30] bensloane commented on #271
Quick question here... What is the use case for having split annotations in subdirectories?I thought the annotation files should keep track of all the objects in a single image.

That being said I can help implement this if there is interest.

[2020-01-30 13:30] fede-citti commented on #271
The case is that here we have huge medical images (more than 30000x30000 pixels) coming from different patients. Since the objects that we want to detect are small compared to the entire images, we have split them into a grid and we want to do object detection on the smaller pieces.
That's why we have the main folders with the patient ID and the subfolders with the splitted images

[2020-01-30 13:44] pinduzera opened #273 "ouput layer not being translated correctly through DLpy"
I've been translating a SAS CASL code to DLpy/Swat and found out that one layer is actually working through swat but not through DLpy.

Current DLpy code:

[code]

Output:

[code]
Looks like it's some error translating the last Output layer.

If I build this same model using swat.deeplearn it actually works flawlessly:

[code]
And the OK output:

[code]

[2020-01-30 14:04] ethem-kinginthenorth commented on #273
src_layers : iter-of-Layers, optional
        Specifies the layers directed to this layer.
If you pass layer objects to the src_layers, you should be fine. Would you please check out the applications.py file how I used.
Sequential way of creating the models assumes that the previous layer is the source layer for the current one. If you want to do more tricky connections, you should pass layer obje

[2020-01-30 14:05] sasxianhu commented on #273
Do not use the list {} since the order is random. Always use [] for many source layers.

[2020-01-30 14:09] sasxianhu commented on #273
@wenyushi , please check this. We should return errors.

[2020-01-30 14:11] ethem-kinginthenorth commented on #273
the documentation clearly says  iter-of-layers, we cannot type check for every parameters in Python.

[2020-01-30 16:13] pinduzera commented on #273
It's done, I didn't realize that you actually had to pass the layers rather than the layer name. That would be very helpful though.
It's working now, thank you.

[2020-01-30 16:13] #273 closed

[2020-02-10 21:18] wenyushi opened #277 "Support DepthwiseConv2d, SeparableConv2d, PointwiseConv2d"
The issue relates to implementing [DepthwiseConv2d](https://www.tensorflow.org/api_docs/python/tf/keras/layers/DepthwiseConv2D), [SeparableConv2d](https://www.tensorflow.org/api_docs/python/tf/keras/layers/SeparableConv2D), [PointwiseConv2d](https://www.tensorflow.org/api_docs/python/tf/nn/separable_conv2d).

[2020-02-11 08:27] teoland opened #278 "create_object_detection_table error"
Hi,

I've been trying to execute the create_object_detection_table function with no luck so far.
I am using only the data_path option as iamges and cas server are in the same machine.

Attached the error I am receiving. I really don't get why it is looking for a object_x file or path.

<img width="374" alt="dlpy_error" src="https://user-images.githubusercontent.com/45943823/74220670-78088200-4cb0-

[2020-02-12 13:53] wenyushi commented on #278
It seems to use linux path to access a windows directory. That will cause the issue. Please look at local_path docstring:
Local_path and data_path point to the same location.
        The parameter local_path will be optional (default=None) if the
        Python client has the same OS as CAS server or annotation files
        in TXT format are placed in data_path.
        Otherwise, the path that d

[2020-02-12 15:19] fede-citti commented on #278
In our case the Python client and the CAS server have the same OS (they are the same machine). We have tried the code without specifying the local_path and we got the same error. There aren't any Windows directory. Why should it look for a Windows directory?
Interestingly the` create_object_detection_table_no_xml` function worked with the data path and the annotation path being the same and puttin

[2020-02-17 13:59] wenyushi commented on #278
Well, if client and server are on the **same machine**, you don't need to set local_path. Could you send me the error message?

[2020-02-17 14:01] sasxianhu commented on #271
@bensloane , feel free to work on this when you have time.

[2020-02-17 14:03] smatton opened #279 "Yolo models should throw an error if non-square input is not supported"
model = YoloV2(s, yolo_anchors, width=224, height=74)

Does not throw an error with non-square input. When running fit method you get this error.
ERROR: The source layer to the detection layer contains an incompatible number of neurons.
ERROR: The action stopped due to errors.

If non-square input is not supported can we throw an error?

[2020-02-17 14:04] ethem-kinginthenorth commented on #279
Which version of dlpy you have? I remember I added some sort of a check and a warning message to prevent this. Let me-recheck the source code.

[2020-02-17 14:04] sasxianhu commented on #192
Close this one.
One example is below.

https://go.documentation.sas.com/?docsetId=casdlpg&docsetTarget=n05117l9utesr0n11g9wqwofcz2m.htm&docsetVersion=8.5&locale=en#p0ltjtvcl7tc8ln1uf9zu4yupssw

s.upload('/path/to/glove.txt', casout=dict(name='glove', replace=True),
          importoptions=dict(fileType='delimited', delimiter='\t'))

[2020-02-17 14:04] #192 closed

[2020-02-17 14:07] ethem-kinginthenorth commented on #279
this is the source code on the github version:
if input_parameters['width'] != input_parameters['height']:
        print(not_supported_feature('Non-square yolo model training', 'height=width'))
        input_parameters['height'] = input_parameters['width']

so I we should be adjusting non-square input sizes

[2020-02-17 14:28] smatton commented on #279
1.1.2. I thought it could be that so I did conda update sas-dlpy. I also spun up fresh conda environment in docker and installed dlpy to confirm version you get with conda install is 1.1.2. For now I will just work around it until conda gets the changes.

[2020-02-17 14:39] ethem-kinginthenorth commented on #279
Possibly, it is still in the code but not released. With the next release it should be there.

[2020-02-17 16:43] teoland commented on #278
Sure. Attached the error message with the loacal_path commented out

![Capture2](https://user-images.githubusercontent.com/45943823/74672133-ec5d8c80-51ac-11ea-9a2f-1375a2c807c2.JPG)

[2020-02-17 17:29] Mespith commented on #261
Hi, I'm not totally convinced that this is the only solution. I used the exact same data and code on another environment where dlpy version 1.1.2 was running and I did not get the error.

[2020-02-17 17:29] #279 closed

[2020-02-19 23:45] smatton opened #280 "model.deploy to table and s.table.loadTable don't work well together"
If I deploy a model to table using,
model.deploy(path='/path/to/dir', output_format='table')
it produces 3 tables

modelname.sashdat
modelname_weights.sashdat
modelname_weights_attr.sashdat

If I try to load these tables with

s.table.loadTable it will complain that it can't find modelname.ATTRS.sashdat , if I rename the attributes table to what it expects it will work.

modeldetect = s.table.load

[2020-02-19 23:47] sasxianhu commented on #280
Please use https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.from_table.html#dlpy.model.Model.from_table

[2020-02-19 23:47] sasxianhu commented on #280
or https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.from_sashdat.html#dlpy.model.Model.from_sashdat

[2020-02-19 23:55] smatton commented on #280
I can use those, but shouldn't the naming conventions be consistent across API's?

[2020-02-19 23:58] sasxianhu commented on #280
When we shipped our DLPy APIs, loadTable did not support loadAttr. Unfortunately, save and loadTable later use different naming conventions. We don’t plan to break our APIs for now.

Best,
XQ

Everyday is a new learning day.
________________________________
From: Scott Matton <notifications@github.com>
Sent: Wednesday, February 19, 2020 6:55:42 PM
To: sassoftware/python-dlpy <python-dlpy@noreply.g

[2020-02-20 14:21] Mespith opened #281 "dlpy.applications.Faster_RCNN backbone valid values"
This is a very minor issue I think, but I saw that in the documentation of [dlpy.applications.Faster_RCNN](https://sassoftware.github.io/python-dlpy/generated/dlpy.applications.Faster_RCNN.html) that the valid values for the backbone variable is only "vgg16". When I checked the code of this model I saw a lot more possible values: vgg16, resnet50, resnet34, resnet18, mobilenetv1 and mobilenetv2.

C

[2020-02-21 23:39] sasxianhu commented on #281
This is already fixed in our dev branch:

https://github.com/sassoftware/python-dlpy/blob/master/dlpy/applications/rcnn.py

backbone: string, optional
        Specifies the architecture to be used as the feature extractor.
        Valid values: vgg16
        Default: vgg16, resnet50, resnet18, resnet34, mobilenetv1, mobilenetv2

[2020-02-21 23:39] #281 closed

[2020-02-26 10:50] fede-citti commented on #261
@Mespith which Viya version are you using?

[2020-02-28 08:15] Mespith commented on #261
The environment where it does not work is Viya 3.5 and it did work with Viya 3.4

[2020-03-11 07:38] staceychan opened #288 "Axis question in the heat_map_analysis"
Hi teams,

I have a question about the heat_map_analysis.
The axis of the heat map is from red to blue and the number is getting higher.
I'm wondering that the red color should mean the higher temperature.
Is there any information about this?
Thanks for your help! :)

here is an example image
![擷取](https://user-images.githubusercontent.com/35584966/76393344-533a2400-63ae-11ea-9690-1f5d001e2d32.JPG

[2020-03-11 15:37] sasxianhu commented on #288
The red regions mean it is important to make the prediction.

[2020-03-11 15:57] staceychan commented on #288
Thanks for your replying!
But I still confuse about the number on the right side.
Does it mean the level of the importance?

[2020-03-11 16:07] wenyushi commented on #288
Axis represents the probability of ground-truth class. Basically, heat map analysis uses a black map to cover a region on your image. If the region is essential, the confidence of the blocked image is expected to drop a lot.

[2020-03-11 16:09] sasxianhu commented on #288
https://github.com/sassoftware/python-dlpy/blob/master/dlpy/model.py

line 2318: it calculates the mean predicted probability if you cover a region with a black map.  When it is lower, it means that region is important in terms of making predictions.

[2020-03-12 06:29] staceychan commented on #288
I got it!
Thanks for your help :)

[2020-03-12 06:29] #288 closed

[2020-03-13 14:57] wenyushi commented on #26
The issue should be closed.

[2020-03-13 15:00] ethem-kinginthenorth commented on #26
we have added and example. @wenyushi and @kybowm thanks.

[2020-03-13 15:00] #26 closed

[2020-03-16 14:36] wenyushi commented on #236
Recently, I got a chance to work on a project related to this issue. If @yg2288 hasn't started working on the feature, it can be assigned to me. Thanks.

[2020-03-16 14:37] sasxianhu commented on #236
please work on this. Thanks.

[2020-04-10 03:56] staceychan opened #294 "ONNX model output to onnxruntime"
Hi expert,

I'm working on a project, in which we have to use VDMML to train a image classification model and deploy to an edge device.

We don't have esp edge, so I want to output the model as onnx and use onnxruntime at the edge device.

From my perspective, I can load the onnx model and then input the image array directly.
But it came out like the picture below.
![image](https://user-images.git

[2020-04-10 11:58] wenyushi451 commented on #294
Can you please do one experiment running the onnx model on either pytorch or tensorflow and see if you get similar results?

[2020-04-14 09:14] staceychan commented on #294
Hi wenyu,

Thanks for replying!
I've tried to builed the same network by pytorch and convert it to onnx.
it works, so i will keep trying if there's any possible problem in my code or the input/output type.

Thanks!
It would be great if there are some examples similar to this.

[2020-04-15 11:21] antoajayraj opened #296 "Keras Little Endian model into SAS Big Endian platform"
If I have a Keras model generated on a Little Endian platform. Can that be imported seamlessly into the SAS Viya which runs on a Big Endian platform ?

[2020-04-27 16:33] eusdougc commented on #296
@antoajayraj - The best answer I can give is "maybe" as I don't think any of our developers have tried this.  We rely in part on Keras, so if Keras does not support your scenario, then we won't either.  If you have a way of testing, could I suggest running [this](https://github.com/sassoftware/python-dlpy/blob/master/examples/keras_model_conversion/Import_Keras_LeNet.ipynb) example and seeing if y

[2020-05-15 12:25] eusdougc commented on #296
@antoajayraj - have you tried the example I suggested?

[2020-05-27 05:48] staceychan opened #303 "Deploy astore on the server-side"
Hi expert,

According to the ducument, I found that I cannot deploy the astore model to the server-side.
https://sassoftware.github.io/python-dlpy/generated/dlpy.model.Model.deploy.html

Is there any suggestion if I want to deploy astore from the client-side to the server-side?
Cause I want the model I deployed can be used in ESP, but now I have to deploy and then move it from client to server.

T

[2020-05-27 12:48] eusdougc commented on #296
Closing issue as there has been no feedback from @antoajayraj.

[2020-05-27 12:48] #296 closed

[2020-05-27 13:02] eusdougc commented on #303
@staceychan - there is currently no way to deploy an astore model directly to the server unless there is common disk space that both can access.  For example, there might be one or more network drives that are mounted in such a way that both your client and your server can read/write to them.  In that case, you simply provide a client path to the common disk space and write the astore model there.

[2020-06-01 01:47] staceychan commented on #303
Hi Expert,

Thanks form your replying! :)
I'm going to close this issue.

Thanks again:)

[2020-06-01 01:47] #303 closed

[2020-06-01 07:00] #294 closed

[2020-06-05 18:30] TimoKettunenSAS opened #305 "Last cell in Auto Encoder example displays training images twice"
I was following the auto encoder example and noticed that the last cell does not produce comparison between training and auto encoder images. It displays training images twice.

Could someone please modify the example to properly display images from the model.

https://github.com/sassoftware/python-dlpy/blob/master/examples/auto_encoder/auto_encoder.ipynb

[2020-06-22 22:45] eusdougc commented on #305
@TimoKettunenSAS - please re-check the last cell.  This line

display_segmentation_images(conn, 'merged_table', n_images=5, image_column='_image_',
                            segmentation_labels_table='merged_table', label_column='_label_')

displays 5 of the original images (note the image_column is the original _image_ variable).  The following line

display_segmentation_images(conn, 'merged_ta

[2020-06-22 23:20] TimoKettunenSAS commented on #305
Could you please review the logic. I understand what that notebook is trying to do in cells 7, 8 and 9. What I'm trying to explain is that it does not work as intended.

Here's two screenshots. One from following cells 7,8 and 9 from the example notebook. Second one is created by extracting features from decoder layer and formatting the resulting array into an image.

As you can see, by following

[2020-07-07 15:37] TimJVK opened #311 "ONNX Export Issue"
I am using the functional API to build a very basic network:

`all_inputs ='C_Ref_1','C_Ref_2','C_Ref_3','C_Ref_4','C_Ref_5','C_Ref_6','C_Ref_7','C_Ref_8','C_Ref_9','C_Ref_10','C_Ref_11','C_Ref_12','C_Ref_13','C_Ref_14','C_Ref_15'`

Build model with DPLy functional API:
`input1 = Input(n_channels=1,std='MIDRANGE')`
`dense1 = Dense(n=50,act='tanh')(input1)`
`output1 = OutputLayer(act='auto', n=1)(d

[2020-07-14 03:24] staceychan opened #312 "ImageTable set label_col error"
Hi Expert,

I'm try to reproduce the multitask learning code as example here \\sashq\root\data\DeepLearn\data\MIML\ipynb\MIML_example_Multitask_BN_Sigmoid.ipynb

I ran the code ImageTable.from_table and wanted to set label_col, but it seemed the label_col didn't change
like the figure below.
![image](https://user-images.githubusercontent.com/35584966/87380146-737c2880-c5c4-11ea-8d95-43764564313f.p

[2020-07-14 07:28] fede-citti commented on #312
Looking at the source code here https://github.com/sassoftware/python-dlpy/blob/master/dlpy/images.py (lines 906 -919) , it looks like it needs specifically a column called "_label_". i would rename the column to get label_freq.
Or adapt the source code to your variable name:
`out = self._retrieve('simple.freq', table=self, inputs=['_label_'])['Frequency']`

[2020-07-15 12:29] eusdougc commented on #311
@TimJVK - my apologies for the delayed response.  We will look into this and get back to you.

[2020-07-15 12:32] eusdougc commented on #312
@staceychan - did the suggestion from @fede-citti solve your problem, or are you still having an issue?

[2020-07-20 13:41] eusdougc commented on #311
@TimJVK - when you build your model, please change this line

input1 = Input(n_channels=1,  std='MIDRANGE')

to this

input1 = Input(n_channels=1, height=1, width=15, std='MIDRANGE')

That should solve your problem.

[2020-07-21 16:26] TimJVK commented on #311
That resolved the issue, thank you!

[2020-07-21 16:33] #311 closed

[2020-07-30 02:25] staceychan commented on #312
Hi Both,

Thanks for your replying!
I thought the label_col could be assigned, but it seeems it's fixed.

Thanks again! :)

[2020-07-30 02:25] #312 closed

[2020-08-05 08:36] staceychan opened #318 "ResNet Model deploy to ONNX"
Hi Expert,

I'm trying to deploy viya model to onnx format and score on an open source device using onnxruntime.
I noticed that the method works when the architecture is VGG or InceptionV3.
But when I deployed ResNet model and loaded by onnxruntime there was an error
![image](https://user-images.githubusercontent.com/35584966/89390563-7c7e9680-d739-11ea-9476-b9ce9a40a185.png)

(I have tried ResNet

[2020-08-06 12:53] eusdougc commented on #318
@staceychan  - the exception seems to be related to one of the pooling layers.  A kernel dimension for this pooling layer appears to be 0 (or less than 0).  Can you post the code that you used to deploy the ResNet model?  Also, what version of ONNX are you using?

[2020-08-06 16:28] eusdougc commented on #305
New autoencoder example has been created - closing issue.

[2020-08-06 16:28] #305 closed